<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div id="addapp">
	       <el-row :span="24">
	       	 <el-col :span="12">
	       	 	<h3>新增员工</h3>
	       	 </el-col>
	       	     <el-col :span="12">
	       		<el-form :span="12" id="btn">
						<el-form-item  >
								<el-button icon="el-icon-success" size="mini" type="success" @click="">保存</el-button>
						</el-form-item>
				</el-form>
					 </el-col>
	       </el-row>
	       
	       <el-form :model="user"  ref="shoppForm":rules="shoppRules" label-width="100px">
	          	<el-row :span="24" >
	          	  <el-col :span="12">
				<el-form-item label="员工编号" prop="staffid">
					<el-col :span="6">
						<!--非常重要-->
						<el-input v-model="user.staffid" placeholder="请输入编号" style="width: 130px;"></el-input>
					</el-col>
				</el-form-item>
				  </el-col> 
				  <el-col :span="12">
				<el-form-item label="员工姓名" prop="staffname">
					<el-col :span="6">
						<!--非常重要-->
						<el-input v-model="user.staffname" placeholder="" style="width: 130px;"></el-input>
					</el-col>
				</el-form-item>
				</el-col> 
			   </el-row >
			   
			   
	     
	          	<el-row :span="24" >
	          	  <el-col :span="12">
				<el-form-item label="员工地址" prop="saddress">
					<el-col :span="6">
						<!--非常重要-->
						<el-input v-model="user.saddress" placeholder="" style="width: 130px;"></el-input>
					</el-col>
				</el-form-item>
				  </el-col> 
				  <el-col :span="12">
				<el-form-item label="员工性别" prop="staffsex">
					  <el-col :span="6">
                      <el-select v-model="user.staffsex" placeholder="请选择" style="width: 130px;">
                      <el-option label="男" value="男"></el-option>
                      <el-option label="女" value="女"></el-option>
                     </el-select>
                     </el-col>
				</el-form-item>
				</el-col> 
			   </el-row >
			   
			      
			   
			     
	      
	          	<el-row :span="24" >
	          	  <el-col :span="12">
				<el-form-item label="员工部门" prop="positionid">
					  <el-col :span="6">
                      <el-select v-model="user.positionid" placeholder="请选择" style="width: 130px;">
                      <el-option label="男" value="男"></el-option>
                      <el-option label="女" value="女"></el-option>
                     </el-select>
                     </el-col>
				</el-form-item>
				  </el-col> 
				  <el-col :span="12">
				<el-form-item label="入职日期" prop="sstarttime">
					<el-col :span="6">
						<!--非常重要-->
						<el-input type="date" v-model="user.sstarttime" placeholder="" style="width: 130px;"></el-input>
					</el-col>
				</el-form-item>
				</el-col> 
			   </el-row >
			   
			         
	          	<el-row :span="24" >
	          	  <el-col :span="12">
				<el-form-item label="员工账号" prop="staffaccount">
					<el-col :span="6">
						<!--非常重要-->
						<el-input  v-model="user.staffaccount" placeholder="" style="width: 130px;"></el-input>
					</el-col>
				</el-form-item>
				  </el-col> 
				  <el-col :span="12">
				<el-form-item label="员工密码" prop="staffpwd">
					<el-col :span="6">
						<!--非常重要-->
						<el-input v-model="user.staffpwd" placeholder="" style="width: 130px;"></el-input>
					</el-col>
				</el-form-item>
				</el-col> 
			   </el-row >
			   
			   
	          	<el-row :span="24" >
	          	  <el-col :span="12">
				<el-form-item label="身份证" prop="idcd">
					<el-col :span="6">
						<!--非常重要-->
						<el-input  v-model="user.idcd" placeholder="" style="width: 130px;"></el-input>
					</el-col>
				</el-form-item>
				  </el-col> 
				  <el-col :span="12">
				<el-form-item label="月薪" prop="price">
					<el-col :span="6">
						<!--非常重要-->
						<el-input  v-model="user.price" placeholder="" style="width: 130px;"></el-input>
					</el-col>
				</el-form-item>
				</el-col> 
			   </el-row > 
		</el-form>
			   
			   
		</div>
	</body>
	<script>
		var addapp=new Vue({
			el:"#addapp",
			data:{
				user:{
					staffid:"",
					positionid:"",
					staffname:"",
					staffsex:"",
					staffaccount:"",
					staffpwd:"",
					saddress:"",
					sstarttime:"",
					price:"",
					idcd:""
					
				},
				shoppRules:{
				staffid:[{
					required:true,
					message:"员工编号必填",
					trigger:"blur"
				}],
				staffname:[{
					required:true,
					message:"员工姓名必填",
					trigger:"blur"
				}],
				positionid:[{
					required:true,
					message:"员工部门必填",
					trigger:"blur"
				}],
				staffsex:[{
					required:true,
					message:"员工性别",
					trigger:"blur"
				}],
				staffaccount:[{
					required:true,
					message:"员工账号",
					trigger:"blur"
				}],
				staffpwd:[{
					required:true,
					message:"员工密码必填",
					trigger:"blur"
				}],
					saddress:[{
					required:true,
					message:"员工地址",
					trigger:"blur"
				}],
					sstarttime:[{
					required:true,
					message:"入职时间必填",
					trigger:"blur"
				}],
					price:[{
					required:true,
					message:"月薪必填",
					trigger:"blur"
				}],
					idcd:[{
					required:true,
					message:"身份证必填",
					trigger:"blur"
				}],
			},
				
				
			}
		})
		
	</script>
</html>
