<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div id="addapp" v-loading="loading">
	       <el-row :span="24">
	       	 <el-col :span="12">
	       	 	<h3>新增员工</h3>
	       	 </el-col>
	       	     <el-col :span="12">
	       		<el-form :span="12" id="btn">
						<el-form-item  >
								<el-button icon="el-icon-success" size="mini" type="success" @click="adduser">保存</el-button>
						</el-form-item>
				</el-form>
					 </el-col>
	       </el-row>
	       
	       <el-form :model="user"  ref="shoppForm":rules="shoppRules" label-width="100px">
	          	<el-row :span="24" >
				  <el-col :span="12">
				<el-form-item label="员工姓名" prop="staffname">
					<el-col :span="6">
						<!--非常重要-->
						<el-input v-model="user.staffname" placeholder="" style="width: 130px;"></el-input>
					</el-col>
				</el-form-item>
				</el-col> 
					  <el-col :span="12">
				<el-form-item label="员工地址" prop="saddress">
					<el-col :span="6">
						<!--非常重要-->
						<el-input v-model="user.saddress" placeholder="" style="width: 130px;"></el-input>
					</el-col>
				</el-form-item>
				  </el-col> 
			   </el-row >
			   
			   
	     
	          	<el-row :span="24" >
	          
				  <el-col :span="12">
				<el-form-item label="员工性别" prop="staffsex">
					  <el-col :span="6">
                      <el-select v-model="user.staffsex" placeholder="请选择" style="width: 130px;">
                      <el-option label="男" value="男"></el-option>
                      <el-option label="女" value="女"></el-option>
                     </el-select>
                     </el-col>
				</el-form-item>
				</el-col> 
				  </el-col> 
				  <el-col :span="12">
				<el-form-item label="入职日期" prop="sstarttime">
					<el-col :span="6">
						<!--非常重要-->
						<el-input type="date" v-model="user.sstarttime" placeholder="" style="width: 170px;"></el-input>
					</el-col>
				</el-form-item>
				</el-col>
			   </el-row >
			   
			      
			   
			     
	      
	          	<el-row :span="24" >
	          	  <el-col :span="12">
				<el-form-item label="员工部门">
					  <el-col :span="6">
                      <el-select v-model="department.departmentname" placeholder="请选择" style="width: 130px;" @change="depid">
                             <el-option  :value="temp.departmentid":label="temp.departmentname" v-for="(temp,i) in department" ></el-option>
                     </el-select>
                     </el-col>
				</el-form-item>
				</el-col>
				  <el-col :span="12">
				<el-form-item label="员工岗位" prop="positionid">
					  <el-col :span="6">
                      <el-select v-model="user.positionid" placeholder="请选择" style="width: 130px;">
                             <el-option  :value="temp.positionid":label="temp.positionname" v-for="(temp,i) in position" ></el-option>
                     </el-select>
                     </el-col>
				</el-form-item>
				</el-col>
			   </el-row >
			   
			         
	          	<el-row :span="24" >
	          	  <el-col :span="12">
				<el-form-item label="员工账号" prop="staffaccount">
					<el-col :span="6">
						<!--非常重要-->
						<el-input  v-model="user.staffaccount" placeholder="" style="width: 130px;"></el-input>
					</el-col>
				</el-form-item>
				  </el-col> 
				  <el-col :span="12">
				<el-form-item label="员工密码" prop="staffpwd">
					<el-col :span="6">
						<!--非常重要-->
						<el-input v-model="user.staffpwd" placeholder="" style="width: 130px;"></el-input>
					</el-col>
				</el-form-item>
				</el-col> 
			   </el-row >
			   
			   
	          	<el-row :span="24" >
	          	  <el-col :span="12">
				<el-form-item label="身份证" prop="idcd">
					<el-col :span="6">
						<!--非常重要-->
						<el-input  v-model="user.idcd" placeholder="" style="width: 130px;"></el-input>
					</el-col>
				</el-form-item>
				  </el-col> 
				  <el-col :span="12">
				<el-form-item label="月薪" prop="price">
					<el-col :span="6">
						<!--非常重要-->
						<el-input  v-model="user.price" placeholder="" style="width: 130px;"></el-input>
					</el-col>
				</el-form-item>
				</el-col> 
			   </el-row > 
		</el-form>
			   
			   
		</div>
	</body>
	<script>
		var addapp=new Vue({
			el:"#addapp",
			data:{
				/*number:window.sessionStorage.getItem("number"),*/
				user:{
					staffid:"",
					positionid:"",
					staffname:"",
					staffsex:"",
					staffaccount:"",
					staffpwd:"",
					saddress:"",
					sstarttime:"",
					price:"",
					idcd:""
					
				    },
				department:{},
				position:{},
				loading: true,
				shoppRules:{
				staffname:[{
					required:true,
					message:"员工姓名必填",
					trigger:"blur"
				}],
				positionid:[{
					required:true,
					message:"员工部门必填",
					trigger:"change"
				}],
				staffsex:[{
					required:true,
					message:"员工性别",
					trigger:"change"
				}],
				staffaccount:[{
					required:true,
					message:"员工账号",
					trigger:"blur"
				}],
				staffpwd:[{
					required:true,
					message:"员工密码必填",
					trigger:"blur"
				}],
					saddress:[{
					required:true,
					message:"员工地址",
					trigger:"blur"
				}],
					sstarttime:[{
					required:true,
					message:"入职时间必填",
					trigger:"change"
				}],
					price:[{
					required:true,
					message:"月薪必填",
					trigger:"blur"
				}],
					idcd:[{
					required:true,
					message:"身份证必填",
					trigger:"blur"
				}],
			},
				
				
			},
			methods:{
				depid(){
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/px/api/user/${_this.department.departmentname}`, function(date) {
						_this.position = date;	
					});
					
				},
				
	             adduser() {
					let _this = this;
					this.$refs['shoppForm'].validate(valid => {
						if(valid) {
							//验证通过
							//自定义加载块
							const loading = this.$loading({
								lock: true,
								text: '努力更新中....',
								spinner: 'el-icon-loading',
								background: 'rgba(0, 0, 0, 0.5)'
							});
							//延迟2秒，模拟网络延迟
							setTimeout(() => {
								$.ajax('http://127.0.0.1:8080/px/api/user/addsta', {
									type: 'post',
									data: JSON.stringify(this.user),
									dataType: 'json',
									contentType: 'application/json',
									success(msg) {
										if(msg.code == "200") {
											loading.close(); //关闭加载块【非常重要】
											_this.$message({
												type: 'success',
												message: '新增成功'
											});
											
											personApp.isShow=false;//非常重要
										   window.parent.personApp.goToPage();
										}
									}
								});
							}, 2000);
						} else {
							//验证失败
							this.$alert('请按格式正确填写信息', '系统提示');
						}
					});
				},
				
				showView(url) {
					window.location.href = url;
				},
				
				
			},
			
			mounted(){
					setTimeout(() => {
					this.loading = false;
				}, 1000);
				let _this = this;
				$.getJSON(`http://127.0.0.1:8080/px/api/user/dep`, function(date) {
						_this.department = date;	
					});
				
			},
			
		})
		
	</script>
</html>
