<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<!--<link rel="stylesheet" href="css/index.css" />-->
		<style>
			.mobileBackColor:after {
				clear: both;
				content: "";
				width: 0;
				height: 0;
				display: block;
				visibility: hidden;
			}
		</style>
		<!--<script src="js/jquery-1.12.4.js"></script>
		<script src="js/jq_ajax_config.js"></script>
		<script src="js/vue.js"></script>
		<script type="text/javascript" src="js/index.js"></script>-->
	</head>

	<body>
		<div id="engineApp">
			<!-- style="background-color: whitesmoke;"-->
			<div class="mobileBackColor" style="">



			</div>
			<div class="mobileBackColor" style="position: relative; height: 150px;">
				<!--; background-color: #EDF2FC;-->
				<div class="mobileBackColor" style="float: right;">
					<el-button type="primary" >	<span  @click="add()"><i class="el-icon-edit-outline"></i>增加</span></el-button>
					<el-button type="primary" ><span  @click="del()"><i class="el-icon-delete"></i>删除</span></el-button>
					<el-button type="primary" >	<span  @click="upd()"><i class="el-icon-document-copy"></i>保存</span></el-button>
					
					
				
					
					
					
				</div>
				<div style="position: absolute; bottom: 0px; float: left; " class="mobileBackColor">
					<p style="color: #FBC4C4;">分类代码<input type="text" v-model="currentRow.motorid">分类名称<input type="text" v-model="currentRow.motorname"></p>
				</div>

			</div>
			<div style="width: 500px;">
				<template>
					<el-table  @row-click="row"  :data="this.pageinfo.list" highlight-current-row  style="width: 100%">

						<el-table-column property="motorid" label="发动机编码" width="120">
						</el-table-column>
						<el-table-column property="motorname" label="发动机名称">
						</el-table-column>
					</el-table>
					<div style="margin-top: 20px;text-align: center;">
						<span>合计:{{pageinfo.endRow}}条</span>
						<el-button type="primary" @click="prePage()">上一页</el-button>
						<el-button type="primary" @click="nextPage()">下一页</el-button>
					</div>
				</template>

			</div>

		</div>

		<script>
			var engineApp = new Vue({
				data: {
					pageinfo: {},
					
					currentRow:{}
					

				},
				methods: {
					del(){
						console.log(this.currentRow);

						let _this = this;

						$.ajax(`http://127.0.0.1:8080/api/fadongjis/delByid/${_this.currentRow.motorid}`, {
							type: 'delete',
							dataType: 'json',
							
							contentType: 'application/json',
							success(msg) {
								if(msg > 0) {
									
									_this.$message('删除成功！');
									_this.show(1,2);
								} else {
									_this.$message('删除失败！');
								}
							}
						});
						
						
					},
					upd(){
						console.log(this.currentRow);

						let _this = this;

						$.ajax(`http://127.0.0.1:8080/api/fadongjis/upd`, {
							type: 'put',
							dataType: 'json',
							data: JSON.stringify(_this.currentRow),
							contentType: 'application/json',
							success(msg) {
								if(msg > 0) {
									alert('修改成功！');
									_this.show(1,2);
								} else {
									alert('修改失败！');
								}
							}
						});
						
					},
						prePage() {
						
						if(this.pageinfo.hasPreviousPage) {
							this.show(this.pageinfo.prePage, 2);
							
						} else {
							this.$message('没有上一页了！');
						}

					},
					nextPage() {
						
						if(this.pageinfo.hasNextPage) {
							this.show(this.pageinfo.nextPage, 2);
							
							
						} else {
							this.$message('没有下一页了！');
						}

					},
					add() {

						

						let _this = this;

						$.ajax(`http://127.0.0.1:8080/api/fadongjis/add`, {
							type: 'post',
							dataType: 'json',
							data: JSON.stringify(_this.currentRow),
							contentType: 'application/json',
							success(msg) {
								if(msg > 0) {
									alert('新增成功！');
									_this.show(1,2);
								} else {
									alert('新增失败！');
								}
							}
						});
					},
					
					row(val) {
						
						this.currentRow=val;
					},
					show(pageNum,pageSize) {

						let _this = this;

						$.getJSON(`http://127.0.0.1:8080/api/fadongjis/showList/${pageNum}/${pageSize}`, function(val) {

							_this.pageinfo = val;

						});

					}
				},
				mounted() {
					this.show(1, 2);
				}
			}).$mount('#engineApp');
		</script>
	</body>

</html>