<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<!--		<link rel="stylesheet" href="css/index.css"/>-->
		<style>
			.mobileBackColor:after {
				clear: both;
				content: "";
				width: 0;
				height: 0;
				display: block;
				visibility: hidden;
			}
			/*.el-header {
				background-color: #B3C0D1;
				color: #333;
				line-height: 60px;
			}
			*/
			/*	.el-aside {
				color: #333;
			}*/
		</style>

		<!--<script src="js/jquery-1.12.4.js"></script>
		<script src="js/jq_ajax_config.js"></script>
		<script src="js/vue.js"></script>
		<script type="text/javascript" src="js/index.js"></script>-->
	</head>

	<body>

		<div id="maintain">
			<!--style="background-color: whitesmoke;"-->
			<div class="mobileBackColor" style="">

				<div style="width: 400px; float: right; margin-top: 25px;">

				</div>

			</div>
			<el-container style="height: 500px; border: 1px solid #eee">
				<el-aside width="200px">

					<h5>类别分类</h5>
					<el-tree :data="dataType" :props="defaultProps" @node-click="handleNodeClick"></el-tree>

				</el-aside>

				<el-container>
					<el-header style="text-align: right; font-size: 12px">
						<el-button type="primary" ><span @click="dialogFormVisible = true;
						shouButt:true;
						shouButt2:false;" ><i class="el-icon-edit-outline"></i>增加</span></el-button>
						<el-button type="primary" ><span @click="deleteById()"><i class="el-icon-delete"></i>删除</span></el-button>
						<el-button type="primary" >	<span @click="queryOne()"><i class="el-icon-document-copy"></i>修改</span></el-button>
					
						
						
						
						
					
						
					</el-header>

					<el-main>

						<template>

							<el-table ref="singleTable" :data="pageinfo.list" highlight-current-row @current-change="handleCurrentChange" style="width: 100%">

								<el-table-column property="infoid" label="编号" width="120">
								</el-table-column>
								<el-table-column property="infoname" label="项目名称" width="120">
								</el-table-column>
								<el-table-column property="price" label="标准价">
								</el-table-column>
								<el-table-column label="会员价">
									<template slot-scope="temp">
										{{temp.row.price * 0.9}}
									</template>
								</el-table-column>
								<el-table-column label="vip价">
									<template slot-scope="temp">
										{{temp.row.price * 0.8}}
									</template>
								</el-table-column>
								<el-table-column label="协商价">
									<template slot-scope="temp">
										{{temp.row.price * 0.5}}
									</template>
								</el-table-column>
								<el-table-column label="索赔价">
									<template slot-scope="temp">
										{{temp.row.price * 0.1}}
									</template>
								</el-table-column>
								<el-table-column label="保险价">
									<template slot-scope="temp">
										{{temp.row.price * 0.4}}
									</template>
								</el-table-column>
								<el-table-column property="infomark" label="备注">
								</el-table-column>
							</el-table>
							<div style="margin-top: 20px">

							</div>
						</template>
					</el-main>
				</el-container>
			</el-container>

			<el-dialog title="服务项目自定义" :visible.sync="dialogFormVisible" center>
				<el-form :model="Typeinfo" :rules="rules" ref="Typeinfo" label-width="100px" class="demo-ruleForm">
					<el-row>
						<el-col :span="12">
							<el-form-item label="项目编码" prop="name">

								<el-input v-model="Typeinfo.infoid"></el-input>

							</el-form-item>
						</el-col>
						<el-col :span="12">
							<el-form-item label="项目名称" prop="name">

								<el-input v-model="Typeinfo.infoname"></el-input>

							</el-form-item>
						</el-col>
					</el-row>

					<el-row>
						<el-col :span="12">
							<el-form-item label="收入种类" prop="region">
								<el-select v-model="ruleForm.region" placeholder="请选择活动区域">
									<el-option label="区域一" value="shanghai"></el-option>
									<el-option label="区域二" value="beijing"></el-option>
								</el-select>
							</el-form-item>
						</el-col>

						<el-col :span="12">
							<el-form-item label="项目类别" prop="region">
								<el-select v-model="Typeinfo.typeid" placeholder="请选择活动区域">
									<el-option label="大众" value="1"></el-option>
									<el-option label="奔驰" value="2"></el-option>
									<el-option label="宝马" value="3"></el-option>
								</el-select>
							</el-form-item>
						</el-col>
					</el-row>
					<el-form-item label="备注" prop="name">

						<el-input v-model="Typeinfo.infomark"></el-input>

					</el-form-item>

					<el-row>
						<el-col :span="12">
							<el-form-item label="标准价" prop="name">

								<el-input v-model="Typeinfo.price"></el-input>

							</el-form-item>
						</el-col>
						<el-col :span="12">
							<el-form-item label="会员价" prop="name">

								<el-input></el-input>

							</el-form-item>
						</el-col>
					</el-row>
					<el-row>
						<el-col :span="12">
							<el-form-item label="vip价" prop="name">

								<el-input></el-input>

							</el-form-item>
						</el-col>
						<el-col :span="12">
							<el-form-item label="协议价" prop="name">

								<el-input></el-input>

							</el-form-item>
						</el-col>
					</el-row>
					<el-row>
						<el-col :span="12">
							<el-form-item label="索赔价" prop="name">

								<el-input></el-input>

							</el-form-item>
						</el-col>
						<el-col :span="12">
							<el-form-item label="保险价" prop="name">

								<el-input></el-input>

							</el-form-item>
						</el-col>
					</el-row>

				</el-form>
				<div slot="footer" class="dialog-footer">

					<el-button @click="dialogFormVisible = false">取 消</el-button>
					<el-button v-show='shouButt2' type="primary" @click="add()">确 定</el-button>
					<el-button v-show='shouButt' type="primary" @click="updet()">保 存</el-button>
				</div>
			</el-dialog>

		</div>

		<script>
			var maintain = new Vue({
				data: {
					numbers: window.sessionStorage.getItem("numbers"),
					dataType: [],
					defaultProps: {
						children: 'list',
						label: 'typename'
					},
					pageSize: 5,
					currentPage: 1,
					pageinfo: {},
					multipleSelection: JSON.parse(window.sessionStorage.getItem("multipleSelectionS")),
					parentid: 0,
					loadingTy: true,
					shouButt: false,
					shouButt2: true,
					Typeinfo: {
						infoid: '',
						infomark: '',
						infoname: '',
						price: '',
						typeid: ''

					},
					typeid: '',
					menulist: {},

					pageinfo: {},

					currentRow: {},
					dialogFormVisible: false,
					ruleForm: {
						name: '',
						region: '',
						date1: '',
						date2: '',
						delivery: false,
						type: [],
						resource: '',
						desc: ''
					},
					rules: {

					}
				},
				methods: {
					handleNodeClick(data) {
						this.currentPage = 1;
						this.parentid = data.typeid;
						this.gotoPageTy();

					},
					gotoPageTy() {
						let _this = this;
						//_this.loadingTy = true;
						$.getJSON(`http://127.0.0.1:8080/fcl/api/type/queryPage/${_this.currentPage}/${_this.pageSize}/${_this.parentid}`, function(res) {
							_this.pageinfo = res;
							//行选中状态
							setTimeout(() => {
								_this.pageinfo.list.forEach(row => {
									_this.multipleSelection.forEach(temp => {
										if(temp.infoid == row.infoid) {
											_this.$refs.multipleTable.toggleRowSelection(row, true);
										}
									})
								})
								_this.loadingTy = false;
							}, 100);

						})
						console.log(this.pageinfo);
					},
					updet() {
						console.log(this.Typeinfo);

						let _this = this;
						alert(JSON.stringify(_this.Typeinfo));
						$.ajax(`http://127.0.0.1:8080/api/weixius/pingpai`, {
							type: 'put',
							dataType: 'json',
							data: JSON.stringify(_this.Typeinfo),
							contentType: 'application/json',
							success(msg) {
								if(msg > 0) {
									alert('修改成功！');
									_this.show(_this.typeid);
									_this.dialogFormVisible = false;
								} else {
									alert('修改失败！');
								}
							}
						});

					},
					queryOne() {
						let _this = this;
						this.shouButt = true;
						this.shouButt2 = false;
						$.getJSON(`http://127.0.0.1:8080/api/weixius/pingpai/${_this.currentRow.infoid}`, function(val) {

							_this.Typeinfo = val;

							console.log(_this.Typeinfo);
							_this.dialogFormVisible = true
						});

					},
					add() {
						this.shouButt = false;
						this.shouButt2 = true;
						console.log(this.Typeinfo);

						let _this = this;

						$.ajax(`http://127.0.0.1:8080/api/weixius/pingpai`, {
							type: 'post',
							dataType: 'json',
							data: JSON.stringify(_this.Typeinfo),
							contentType: 'application/json',
							success(msg) {
								if(msg > 0) {
									alert('新增成功！');
									_this.show(_this.typeid);
									_this.dialogFormVisible = false;

								} else {
									alert('新增失败！');
								}
							}
						});
					},

					deleteById() {
						let _this = this;
						$.ajax(`http://127.0.0.1:8080/api/weixius/deleteById/${_this.currentRow.infoid}`, {
							type: 'delete',
							dataType: 'json',
							data: _this.infoid,
							contentType: 'application/json',
							success(msg) {
								if(msg > 0) {
									alert('删除成功！');
									_this.show(_this.typeid);

								} else {
									alert('删除失败！');
								}
							}
						});
					},
					handleCurrentChange(val) {
						this.currentRow = val;
						console.log(this.currentRow);
					},
					shoumenu(typeid) {
						let _this = this;

						$.getJSON(`http://127.0.0.1:8080/api/weixius/pingpais/${typeid}`, function(val) {

							_this.menulist = val;

						});

					},
					show(typeid) {
						let _this = this;
						_this.typeid = typeid;
						$.getJSON(`http://127.0.0.1:8080/api/weixius/TypeInfo/1/2/${typeid}`, function(val) {

							_this.pageinfo = val;

						});

					}
				},
				mounted() {
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/fcl/api/type`, function(res) {
						_this.dataType = res;
					})
					this.shoumenu(1);
				}

			}).$mount('#maintain');
		</script>
	</body>

</html>