<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<!--<link rel="stylesheet" href="css/index.css" />-->
		<style>
			.mobileBackColor:after {
				clear: both;
				content: "";
				width: 0;
				height: 0;
				display: block;
				visibility: hidden;
			}
			/*.el-header {
				background-color: #B3C0D1;
				color: #333;
				line-height: 60px;
			}
			
			.el-aside {
				color: #333;
			}*/
		</style>

		<!--<script src="js/jquery-1.12.4.js"></script>
		<script src="js/jq_ajax_config.js"></script>
		<script src="js/vue.js"></script>
		<script type="text/javascript" src="js/index.js"></script>-->
	</head>

	<body>
		<div id="supplierApp">
			<!-- style="background-color: whitesmoke;"-->
			<div class="mobileBackColor" style="">

				<div style="width: 400px; float: right; margin-top: 25px;">


				</div>

			</div>

			<el-container style="height: 1000px; border: 1px solid #eee">
				<el-aside width="200px">
					<!--style="background-color: rgb(238, 241, 246)"-->
					<el-menu>
						<template v-for="(val,i) in this.address">
							<el-submenu index="" :data-type="val.mladdress">

								<template slot="title">
									<div @click="showlist(val.mladdress,1,1)"><i class="el-icon-message"></i>{{val.mladdress}}</div>
								</template>

							</el-submenu>

						</template>

					</el-menu>
				</el-aside>

				<el-container>
					<el-header style="text-align: right; font-size: 12px">
						
	
		
		
						<el-button type="primary" >	<span @click="dialogFormVisible = true" ><i class="el-icon-edit-outline"></i>增加</span></el-button>
						<el-button type="primary" >	<span  @click="delById()"><i class="el-icon-delete"></i>删除</span></el-button>
					</el-header>

					<el-main>
						<template>
							<el-table style="width: auto" height="500" ref="singleTable" :data="pageinfo.list" highlight-current-row @current-change="handleCurrentChange" style="width: 100%">

								<el-table-column property="materialid" label="厂商代码">
								</el-table-column>
								<el-table-column property="mlname" label="厂商名称">
								</el-table-column>
								<el-table-column property="mladdress" label="厂商地址">
								</el-table-column>
								<el-table-column property="mlphone" label="厂商电话">
								</el-table-column>

							</el-table>
							<div style="margin-top: 20px;text-align: center;">
								<el-button type="primary" @click="prePage()">上一页</el-button>
								<el-button type="primary" @click="nextPage()">下一页</el-button>
							</div>
						</template>

					</el-main>
					<el-main>

					</el-main>
				</el-container>
			</el-container>

			<el-dialog title="服务项目自定义" :visible.sync="dialogFormVisible" center>
				<el-form :model="addentity"  ref="addentity" label-width="100px" class="demo-ruleForm">
					<el-row>
						<el-col :span="12">
							<el-form-item label="厂商地址" prop="name">

								<el-input v-model="addentity.mladdress"></el-input>

							</el-form-item>
						</el-col>
						<el-col :span="12">
							<el-form-item label="厂商名称" prop="name">

								<el-input v-model="addentity.mlname"></el-input>

							</el-form-item>
						</el-col>
					</el-row>
					<el-row>

						<el-col :span="12">
							<el-form-item label="厂商电话" prop="name">

								<el-input v-model="addentity.mlphone"></el-input>

							</el-form-item>
						</el-col>
					</el-row>

				</el-form>
				<div slot="footer" class="dialog-footer">
					<el-button @click="dialogFormVisible = false">取 消</el-button>
					<el-button type="primary" @click="add()">确 定</el-button>
				</div>
			</el-dialog>
			<el-dialog title="其他联系人" :visible.sync="showLianXiRen">
				<div class="mobileBackColor" style="">
					<h1 style="float: left;,color: #82848A;">XX 的联系人</h1>
					<div style="width: 400px; float: right; margin-top: 25px;">
						<el-button style="float: right;" type="info" plain>关闭</el-button>

					</div>

				</div>
				<el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
					<el-row>
						<el-col :span="12">
							<el-form-item label="联系人" prop="name">

								<el-input v-model="ruleForm.name"></el-input>

							</el-form-item>
						</el-col>
						<el-col :span="12">
							<el-form-item label="手机" prop="name">

								<el-input v-model="ruleForm.name"></el-input>

							</el-form-item>
						</el-col>
					</el-row>
					<el-row>
						<el-col :span="12">
							<el-form-item label="职位" prop="name">

								<el-input v-model="ruleForm.name"></el-input>

							</el-form-item>
						</el-col>
						<el-col :span="12">
							<el-form-item label="电话" prop="name">

								<el-input v-model="ruleForm.name"></el-input>

							</el-form-item>
						</el-col>
					</el-row>
					<el-row>
						<el-col :span="12">
							<el-form-item label="Email" prop="name">

								<el-input v-model="ruleForm.name"></el-input>

							</el-form-item>
						</el-col>
						<el-col :span="12">
							<el-form-item label="车牌号" prop="name">

								<el-input v-model="ruleForm.name"></el-input>

							</el-form-item>
						</el-col>

					</el-row>

					<template>
						<el-table style="width: auto" height="500" ref="singleTable" :data="tableData" highlight-current-row @current-change="handleCurrentChange" style="width: 100%">

							<el-table-column property="date" label="联系人" width="120">
							</el-table-column>
							<el-table-column property="name" label="职位" width="120">
							</el-table-column>
							<el-table-column property="address" label="手机" width="120">
							</el-table-column>
							<el-table-column property="date" label="电话" width="120">
							</el-table-column>
							<el-table-column property="date" label="Email" width="120">
							</el-table-column>

						</el-table>
						<div style="margin-top: 20px">

						</div>
					</template>

				</el-form>
				<div slot="footer" class="dialog-footer">
					<el-button @click="dialogFormVisible = false">取 消</el-button>
					<el-button type="primary" @click="dialogFormVisible = false">确 定</el-button>
				</div>
			</el-dialog>
		</div>

		<script>
			var supplierApp = new Vue({
				data: {
					currentRow:{},
					addentity: {

						mladdress: "",
						mlname: "",
						mlphone: ""

					},
					dizhi: "",
					pageinfo: {},
					address: {},
					tableData: [{
						date: '2016-05-02',
						name: '王小虎',
						address: '上海市普陀区金沙江路 1518 弄'
					}, {
						date: '2016-05-04',
						name: '王小虎',
						address: '上海市普陀区金沙江路 1517 弄'
					}, {
						date: '2016-05-01',
						name: '王小虎',
						address: '上海市普陀区金沙江路 1519 弄'
					}, {
						date: '2016-05-03',
						name: '王小虎',
						address: '上海市普陀区金沙江路 1516 弄'
					}],
					dialogFormVisible: false,
					showLianXiRen: false,
					ruleForm: {
						name: '',
						region: '',
						date1: '',
						date2: '',
						delivery: false,
						type: [],
						resource: '',
						desc: ''
					},
					rules: {
						name: [{
								required: true,
								message: '请输入活动名称',
								trigger: 'blur'
							},
							{
								min: 3,
								max: 5,
								message: '长度在 3 到 5 个字符',
								trigger: 'blur'
							}
						],
						region: [{
							required: true,
							message: '请选择活动区域',
							trigger: 'change'
						}],
						date1: [{
							type: 'date',
							required: true,
							message: '请选择日期',
							trigger: 'change'
						}],
						date2: [{
							type: 'date',
							required: true,
							message: '请选择时间',
							trigger: 'change'
						}],
						type: [{
							type: 'array',
							required: true,
							message: '请至少选择一个活动性质',
							trigger: 'change'
						}],
						resource: [{
							required: true,
							message: '请选择活动资源',
							trigger: 'change'
						}],
						desc: [{
							required: true,
							message: '请填写活动形式',
							trigger: 'blur'
						}]
					}
				},
				methods: {
					delById(){
						
							let _this = this;

						$.ajax(`http://127.0.0.1:8080/api/materials/delByid/${_this.currentRow.materialid}`, {
							type: 'delete',
							dataType: 'json',
							
							contentType: 'application/json',
							success(msg) {
								if(msg > 0) {
									_this.showlist(_this.dizhi, 1, 1);
									_this.$message('删除成功！');
										
								} else {
									_this.$message('删除失败！');
								}
							}
						});
					},
					add(){
						let _this = this;
						
						$.ajax(`http://127.0.0.1:8080/api/materials/add`, {
							type: 'post',
							dataType: 'json',
							data: JSON.stringify(_this.addentity),
							contentType: 'application/json',
							success(msg) {
								if(msg > 0) {
									alert('新增成功！');
									_this.showlist(_this.dizhi, 1, 1);
									_this.dialogFormVisible = false;
									

								} else {
									alert('新增失败！');
								}
							}
						});
						
						
						
					},
					prePage() {

						if(this.pageinfo.hasPreviousPage) {
							this.showlist(this.dizhi, this.pageinfo.prePage, 1);

						} else {
							this.$message('没有上一页了！');
						}

					},
					nextPage() {

						if(this.pageinfo.hasNextPage) {
							this.showlist(this.dizhi, this.pageinfo.nextPage, 1);

						} else {
							this.$message('没有下一页了！');
						}

					},
					showlist(data, pageNum, pageSize) {

						let _this = this;
						_this.dizhi = data;
						$.getJSON(`http://127.0.0.1:8080/api/materials/showlist/${data}/${pageNum}/${pageSize}`, function(val) {
							_this.pageinfo = val;

						});
					},
					handleCurrentChange(val) {
						this.currentRow = val;
						
					},
					addressshow() {
						let _this = this;
						$.getJSON("http://127.0.0.1:8080/api/materials/address", function(val) {
							_this.address = val;

						});
					}
				},
				mounted() {
					this.addressshow();
					console.log(this.address);

				}

			}).$mount('#supplierApp');
		</script>
	</body>

</html>