<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>班组技工</title>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
		<script type="text/javascript" src="../js/jq_ajax_config.js"></script>
		<script type="text/javascript" src="../js/vue.js"></script>
		<style>
			/*[v-cloak] {
				display: none;
			}*/
		</style>
	</head>

	<body>
		<div id="classApp">
			<div id="indexApp">
				<el-form :model="star" inline="true" class="demo-form-inline" label-width="90px">
					班组名称：
					<el-input size="small" v-model="star.gname" style="width: 200px;"></el-input>
					<el-button size="small" type="primary" @click="onAdd()">添加班組</el-button>
					<el-button size="small" type="primary" @click="removebanzu()">刪除班组</el-button>
				</el-form>
				<el-container>

					<el-aside width="300px">
						<el-table :data="vehicleInfo" style="width: 100%" highlight-current-row @current-change="showjg">
							<el-table-column label="班组编号" align="center">
								<template slot-scope="temp">
									{{temp.$index+1}}
								</template>
							</el-table-column>
							<el-table-column prop="gname" label="班组名称" align="center">
							</el-table-column>
							<el-table-column prop="gprice" label="班组价格" align="center">
							</el-table-column>
						</el-table>
					</el-aside>
					<el-main>
						<el-table :data="vehicleInfo2.list" border style="width: 100%">
							<el-table-column label="技工编号" align="center">
								<template slot-scope="temp">
									{{temp.$index+1}}
								</template>
							</el-table-column>
							<el-table-column prop="aname" label="技工姓名" align="center">
							</el-table-column>
							<el-table-column prop="agid" label="技工等级" align="center">
							</el-table-column>
							<el-table-column prop="startime" label="入职日期" align="center">
							</el-table-column>
							<el-table-column label="操作" align="center">
								<template slot="header" slot-scope="scope">
									<el-button size="small" type="primary" @click="this.showWindowDialog('lx/addJg.html','添加技工')">添加技工</el-button>
								</template>
								<template slot-scope="scope">
									<el-button type="primary" size="small" @click="delOne(scope.row.aid)">删除</el-button>
									<el-button type="primary" size="small" @click="queryBySid(scope.row.aid)">修改</el-button>
								</template>
							</el-table-column>
						</el-table>
						<el-pagination align="center" prev-text="上一页" next-text="下一页" @size-change="handleSizeChange" @current-change="handleCurrentChange" layout="total,sizes,prev, pager, next, jumper" :total="vehicleInfo2.total" :page-sizes="[1,2,3,4,5]" :page-size="vehicleInfo2.pageSize">
						</el-pagination>
					</el-main>
				</el-container>

			</div>
			<el-dialog title="修改技工信息" :visible.sync="modify" width="50%" :before-close="handleClose">
				<div>
					<el-form :label-position="labelPosition" label-width="80px" :model="carlist">
						<el-form-item label="技工姓名">
							<el-input v-model="carlist.aname"></el-input>
						</el-form-item>
						<el-form-item label="分组">
							<el-select size="small" v-model="carlist.gid" placeholder="请选择分租">
								<el-option v-for="(temp,i) in vehicleInfo" :label="temp.gname" :value="temp.gid"></el-option>
							</el-select>
						</el-form-item>
						<el-form-item label="账号">
							<el-input v-model="carlist.aaccount"></el-input>
						</el-form-item>
						<el-form-item label="密码">
							<el-input v-model="carlist.apwd" type="password"></el-input>
						</el-form-item>
						<el-form-item label="等级">
							<el-select size="small" v-model="carlist.agid" placeholder="请选择等級">
								<el-option v-for="(temp,i) in vehicleInfo1" :label="temp.agname" :value="temp.agid"></el-option>
							</el-select>
						</el-form-item>
					</el-form>
				</div>
				<span slot="footer" class="dialog-footer">
   				 <el-button @click="modify = false">取 消</el-button>
   				 <el-button type="primary" @click="modifyall">保存</el-button>
  				</span>
			</el-dialog>
		</div>
	</body>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/dialogs.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	<script>
		var classApp = new Vue({
			data: {
				star: {
					gname: '',
					gprice: ''
				},
				value: '',
				vehicleInfo: [],
				vehicleInfo2: [],
				list: [],
				isShow2: false,
				isShow1: false,
				modify: false,
				carlist: {},
				vehicleInfo1:[],
				currentPage: 1,
				pageSize: 5,
				sid:0,
				banzu:{}
			},
			methods: {
				removebanzu(){
					if(this.banzu.gname==undefined){
						alert("请选择班组");
						return ;
					}else{
						this.delOne();
					}
				},
				handleSizeChange(val){
						this.pageSize = val;
						this.changequery();
				},
				handleCurrentChange(val) {
						this.currentPage = val;
						this.changequery();
				},
				showjg(val) {
					this.sid=val.gid;
					this.banzu=val;
					this.changequery();
				},
				onAdd() {
					let _this = this;
					jQuery.ajax("http://127.0.0.1:8080/lx/api/bz/addBanzu", {
						type: 'post',
						dataType: "json",
						data: JSON.stringify(_this.star),
						contentType: 'application/json; charset=UTF-8',
						success(data) {
							if(data == "ok") {
								alert("新增失败！");
							} else {
								alert("新增成功！");
								$(".is-active.is-closable").click();
								_this.isShow2 = false;
							}
						}
					});
				},
				queryAll() {
					let _this = this;
					jQuery.getJSON(`http://127.0.0.1:8080/lx/api/bz/queryBanzuList`, function(pg) {
						_this.vehicleInfo = pg;
					})
				},
				changequery() {
					let _this = this;
					jQuery.getJSON(`http://127.0.0.1:8080/lx/api/jg/queryBanzujgByBid/${_this.sid}/${_this.currentPage}/${_this.pageSize}`, function(pg) {
						_this.vehicleInfo2 = pg;
						_this.list = pg.list;
					});
				},
				//根据sid查询状态信息
				queryBySid(gid) {
					let _this = this;
					_this.modify = true;
					jQuery.getJSON(`http://127.0.0.1:8080/lx/api/jg/queryid/${gid}`, function(pg) {
						_this.carlist = pg;

					});
				},
				//修改数据
				modifyall() {
					let _this = this;
					jQuery.ajax("http://127.0.0.1:8080/lx/api/jg/modifBanzu", {
						type: 'put',
						data: JSON.stringify(_this.carlist),
						contentType: 'application/json; charset=UTF-8',
						success(data) {
							if(data == "ok") {
								alert("修改失败！");
							} else {
								alert("修改成功！");
								_this.modify = false;
								$(".is-active.is-closable").click();
							}
						}
					});
				},
				queryAlljg() {
					let _this = this;
					jQuery.getJSON(`http://127.0.0.1:8080/lx/api/jg/queryStarAll/1/5`, function(pg) {
						_this.vehicleInfo2 = pg;
						_this.list = pg.list;
					});
				},
				//删除方法
				delOne() {
					let _this = this;
					if(window.confirm('是否确定删除'+_this.banzu.gname+'?')) {
						$.ajax(`http://127.0.0.1:8080/lx/api/jg/deletebanzu/${_this.banzu.gid}`, {
							type: "delete",
							dataType: "json",
							success(msg) {
								if(msg.code == "200") {
									alert("删除成功");
									$(".is-active.is-closable").click();
								} else {
									alert("该班组下有技不能删除");
								}
							}
						});
					}
				},
				handlerOpen() {
					$("#cnt1").load('lx/addBz.html'); //ajax读取页面
				},
				handlerOpen2() {
					$("#cnt2").load('lx/addjg.html'); //ajax读取页面
				}
			},
			mounted() {
				let _this = this;
				_this.queryAll();
				_this.queryAlljg();
				jQuery.getJSON(`http://127.0.0.1:8080/lx/api/xm1/queryStarAll`,function(pg) {
						_this.vehicleInfo1 = pg;
					//	_this.list = pg.list;	
				});
			}
		}).$mount('#classApp');
	</script>

</html>