<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>会员查看</title>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
		<script type="text/javascript" src="../js/jq_ajax_config.js"></script>
		<script type="text/javascript" src="../js/vue.js"></script>
		<style>
			[v-cloak] {
				display: none;
			}
		</style>
	</head>

	<body>
		<div class="container">
			<div id="memberQueryApp" class="row" v-cloak>
				<!--<h3>会员操作</h3>
				<hr />-->
				<div>
					<el-form :inline="true" :model="member" class="demo-form-inline" label-width="80px">
						<el-form-item label="会员名称">
							<el-input v-model="member.name"></el-input>
						</el-form-item>
						<el-form-item>
							<el-button size="small" type="success" @click="onQuery()">查询</el-button>
						</el-form-item>
					</el-form>
				</div>
				<div>
					<template>
						<el-table highlight-current-row @current-change="onXz" :data="pageInfo.list" stripe style="width: 100%">
							<el-table-column prop="memberid" label="会员编号">
							</el-table-column>
							<el-table-column prop="membername" label="会员账号">
							</el-table-column>
							<el-table-column prop="countintegrate" label="会员积分">
							</el-table-column>
							<el-table-column prop="memberintegrate" label="会员剩余积分">
							</el-table-column>
							<el-table-column prop="money" label="余额">
							</el-table-column>
							<el-table-column prop="gradename" label="等级">
							</el-table-column>
							<el-table-column label="操作">
								<template slot-scope="temp">
									<el-button @click="onCz(temp.row.memberid)" type="success" size="small" round>充值</el-button>
									<el-button @click="onDel(temp.row.memberid)" type="danger" size="small" round>删除</el-button>
								</template>
							</el-table-column>
						</el-table>
					</template>
				</div>
				<div>
					<el-dialog :destroy-on-close="true" @opened="handlOpen" title="登录会员" :visible.sync="isShow" :before-close="handleClose" center>
						<div id="hy"></div>
					</el-dialog>
				</div>
				<div>
					<template>
						<el-table :data="mo" stripe style="width: 100%">
							<el-table-column prop="mid" label="消费编号">
							</el-table-column>
							<el-table-column prop="membername" label="会员账号">
							</el-table-column>
							<el-table-column prop="makeintegral" label="使用/增加积分">
							</el-table-column>
							<el-table-column prop="countintegral" label="剩余积分">
							</el-table-column>
							<el-table-column prop="makemoney" label="使用/充值金额">
							</el-table-column>
							<el-table-column prop="countmoney" label="余额">
							</el-table-column>
							<el-table-column prop="medate" label="消费日期">
							</el-table-column>
						</el-table>
					</template>
				</div>
				<!--<div style="margin-left: 40%;">
					<el-button @click="fristPage" type="primary">首页</el-button>
					<el-button v-if="pageInfo.hasPreviousPage" @click="prePage" type="primary">上一页</el-button>
					第<span>{{pageInfo.pageNum}}</span>页 共<span>{{pageInfo.pages}}</span>页 （总数<span>{{pageInfo.total}}</span>）
					<el-button v-if="pageInfo.hasNextPage" @click="nextPage" type="primary">下一页</el-button>
					<el-button @click="lastPage" type="primary">尾页</el-button>
				</div>-->
				<div class="block" v-if="pageInfo.list!== undefined && pageInfo.list.length!=0">
					<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="1" :total="pageInfo.total" :page-sizes="[5, 10, 15, 20]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper">
					</el-pagination>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/dialogs.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	<script>
		var memberQueryApp = new Vue({
			data: {
				isShow: false,
				memberid: '',
				mo: [],
				currentPage: 1,
				pageSize: 3,
				val: '全部',
				member: {
					name: ''
				},
				m: {
					memberid: '',
					gradeid: '',
					membername: '',
					memberpwd: '',
					memberintegrate: '',
					countintegrate: '',
					money: '',
					countmoney: '',
					starttime: '',
					gradename: ''
				},
				pageInfo: {}
			},
			methods: {
				handlOpen() {
					$("#hy").load('tyh/topUp.html');
				},
				onDel(memberid) {
					let _this = this;
					if(window.confirm('是否移除当前会员')) {
						$.ajax(`http://127.0.0.1:8080/tyh/api/m/tyhDelByMember/${memberid}`, {
							type: "delete",
							dataType: "json",
							success(res) {
								if(res.code == "200") {
									alert("删除成功");
								} else {
									alert("删除失败");
								}
							}
						});
					}
				},
				onCz(memberid) {
					this.isShow=true;
					let _this = this;
					window.sessionStorage.setItem('memberid', memberid);
				},
				onXz(val) {
					let _this = this;
					_this.mo.memberid = val.memberid;
					$.getJSON(`http://127.0.0.1:8080/tyh/api/m/tyhQueryByMemberinfo/${val.memberid}`, function(mo) {
						console.info(mo);
						_this.mo = mo;
					});
				},
				onAdd(url) {
					$("#cnt").load(url);
				},
				changestate() {
					this.state = this.val;
					this.currentPage = 1;
					this.goToQueryMember();
				},
				handleSizeChange(val) {
					this.pageSize = val;
					this.goToQueryMember();
				},
				handleCurrentChange(val) {
					this.currentPage = val;
					this.goToQueryMember();
				},
				goToQueryMember() {
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/tyh/api/m/${_this.currentPage}/${_this.pageSize}`, function(m) {
						console.info(m);
						_this.pageInfo = m;
					});
				}
			},
			mounted() {
				this.goToQueryMember();
			}
		}).$mount('#memberQueryApp');
	</script>

</html>