<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>结算中心</title>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
		<script type="text/javascript" src="../js/jq_ajax_config.js"></script>
		<script type="text/javascript" src="../js/vue.js"></script>
		<style>
			[v-cloak] {
				display: none;
			}
		</style>
	</head>

	<body>
		<div class="container">
			<div id="settlementCenterApp" class="row" v-cloak>
				<!--<h1>结算中心<el-button style="float: right;" onclick="">关闭</el-button></h1>
				<hr />-->
				<div>
					<el-form :inline="true" :model="s" class="demo-form-inline" label-width="70px">
						<el-form-item label="开单日期">
							<el-date-picker value-format="yyyy-MM-dd HH:mm:ss" type="date" size="small" v-model="s.starttime" style="width: 100%;"></el-date-picker>
						</el-form-item>
						<el-form-item label="结束日期">
							<el-date-picker value-format="yyyy-MM-dd HH:mm:ss" type="date" size="small" v-model="s.entime" style="width: 100%;"></el-date-picker>
						</el-form-item>
						<el-form-item label="销售单号">
							<el-input v-model="s.smid"></el-input>
						</el-form-item>
						<el-form-item label="结算状态">
							<el-select v-model="s.state" placeholder="请选择结算状态">
								<el-option label="未结算" value="3"></el-option>
								<el-option label="已结算" value="4"></el-option>
							</el-select>
						</el-form-item>
						<el-form-item label="车牌号">
							<el-input v-model="s.carnumber"></el-input>
						</el-form-item>
						<el-form-item label="客户名称">
							<el-input v-model="s.username"></el-input>
						</el-form-item>
						<el-form-item label="服务顾问">
							<el-input v-model="s.staffname"></el-input>
						</el-form-item>
						<!--<el-form-item label="业务类型">
							<el-select v-model="s.staffname" placeholder="请选择业务类型">
								<el-option label="区域一" value="shanghai"></el-option>
								<el-option label="区域二" value="beijing"></el-option>
							</el-select>
						</el-form-item>
						<el-form-item label="单据类型">
							<el-select v-model="s.staffname" placeholder="请选择单据类型">
								<el-option label="区域一" value="shanghai"></el-option>
								<el-option label="区域二" value="beijing"></el-option>
							</el-select>
						</el-form-item>-->
						<el-form-item label="备注">
							<el-input v-model="s.userremark"></el-input>
						</el-form-item>
						<el-form-item>
							<el-button type="primary" @click="onQuery">查询</el-button>
						</el-form-item>
					</el-form>
				</div>
				<div style="margin-left: 65%;">
					<el-button type="success" @click="onSy">收银</el-button>
					<el-button type="success" @click="onHg">回滚</el-button>
					<el-button type="success" @click="onOpenReceipts">打开单据</el-button>
					<el-button type="success" @click="">导出</el-button>
				</div>
				<div>
					<template>
						<el-table :data="sc" style="width: 100%" height="250">
							<el-table-column fixed prop="smid" label="销售单号" width="150">
							</el-table-column>
							<el-table-column prop="starttime" label="开单日期" width="120">
							</el-table-column>
							<el-table-column prop="state" label="结算状态" width="120">
							</el-table-column>
							<el-table-column prop="entime" label="结算时间" width="120">
							</el-table-column>
							<el-table-column prop="staffname" label="结算人" width="120">
							</el-table-column>
							<el-table-column prop="price" label="结算金额" width="120">
							</el-table-column>
							<!--<el-table-column prop="jname" label="结算类型" width="120">
							</el-table-column>-->
							<el-table-column prop="username" label="客户名称" width="120">
							</el-table-column>
							<el-table-column prop="carnumber" label="车牌号" width="120">
							</el-table-column>
							<el-table-column prop="motorcyclename" label="车型" width="120">
							</el-table-column>
							<el-table-column prop="userremark" label="备注" width="120">
							</el-table-column>
							<el-table-column label="操作">
								<template slot-scope="temp">
									<el-button @click="onXz(temp.row.smid)" type="primary" round>选择</el-button>
								</template>
							</el-table-column>
						</el-table>
					</template>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/dialogs.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	<script>
		var settlementCenterApp = new Vue({
			data: {
				s: {
					smid: '',
					starttime: '',
					entime: '',
					state: '',
					carnumber: '',
					username: '',
					staffname: '',
					userremark: ''
				},
				smid: '',
				sc: [{
					smid: '',
					gid: '',
					userid: '',
					staffid: '',
					mid: '',
					consumerid: '',
					rescueid: '',
					consumermark: '',
					starttime: '',
					entime: '',
					countprice: '',
					price: '',
					state: '',
					//artificergrow
					gname: '',
					gprice: '',
					//consumerinfo
					username: '',
					userphone: '',
					useraddress: '',
					userbrithday: '',
					userremark: '',
					//staff
					positionid: '',
					staffname: '',
					staffsex: '',
					staffaccount: '',
					staffpwd: '',
					saddress: '',
					sstarttime: '',
					sendtime: '',
					sfprice: '',
					idcd: '',
					//consumercar
					motorcycleid: '',
					carnumber: '',
					drivername: '',
					driverphone: '',
					driverbrithday: '',
					driverdate: '',
					carcourse: '',
					buycar: '',
					//rescuecar
					rescuenumber: '',
					renumber: '',
					//memberinfo
					memberid: '',
					medate: '',
					makeintegral: '',
					countintegral: '',
					countmoney: '',
					makemoney: ''
				}]
			},
			methods: {
				onQuery() {
					let _this = this;
					if(_this.s.state == "") {
						_this.s.state = null;
					}
					if(_this.s.smid == "") {
						_this.s.smid = null;
					}
					if(_this.s.carnumber == "") {
						_this.s.carnumber = null;
					}
					if(_this.s.username == "") {
						_this.s.username = null;
					}
					if(_this.s.staffname == "") {
						_this.s.staffname = null;
					}
					if(_this.s.userremark == "") {
						_this.s.userremark = null;
					}
					if(_this.s.starttime == ""){
						_this.s.starttime = null;
					}
					if(_this.s.entime == ""){
						_this.s.entime = null;
					}
					console.info(_this.s.starttime);
					console.info(_this.s.entime);
					$.ajax(`http://127.0.0.1:8080/tyh/api/sc/queryByMaxSettlementCenter/${_this.s.state}/${_this.s.smid}/${_this.s.carnumber}/${_this.s.username}/${_this.s.staffname}/${_this.s.userremark}/${_this.s.starttime}/${_this.s.entime}`, {
							type: "get",
							success(sc) {
								_this.sc = sc;
								console.info(sc);
							}
						});
				},
				onHg() {
					if(window.confirm('是否给当前数据进行回滚操作')) {
						let _this = this;
						$.ajax(`http://127.0.0.1:8080/tyh/api/sc/tyhupdateByHgSettlementCenter/${_this.smid}`, {
							type: "put",
							dataType: "json",
							contentType: "application/json",
							data: JSON.stringify(_this.smid),
							success(res) {
								if(res.code == "200") {
									alert("已回滚");
								} else {
									alert("回滚失败");
								}
							}
						});
					}
				},
				onSy() {
					if(window.confirm('是否给当前数据进行收银操作')) {
						let _this = this;
						$.ajax(`http://127.0.0.1:8080/tyh/api/sc/tyhupdateBySettlementCenter/${_this.smid}`, {
							type: "put",
							dataType: "json",
							contentType: "application/json",
							data: JSON.stringify(_this.smid),
							success(res) {
								if(res.code == "200") {
									alert("已收银");
								} else {
									alert("收银失败");
								}
							}
						});
					}
				},
				onXz(smid) {
					let _this = this;
					_this.smid = smid;
				},
				goToSettlementCenter() {
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/tyh/api/sc`, function(sc) {
						_this.sc = sc;
					});
				},
				onOpenReceipts() {
					let _this = this;
					if(_this.smid != ""){
						window.sessionStorage.setItem('smid', _this.smid);
						location.href = "tyh/receipts.html";
					} else{
						alert("请选择单据");
					}
					
				}
			},
			mounted() {
				this.goToSettlementCenter();
			}
		}).$mount('#settlementCenterApp');
	</script>

</html>