<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<!--	<link rel="stylesheet" href="../css/index.css" />-->
		<!--<script type="text/javascript" src="../js/vue.js"></script>
		<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
		<script type="text/javascript" src="../js/jq_ajax_config.js"></script>-->
		<style>
			* {
				padding: 0;
				margin: 0;
			}
			
			i {
				color: #5ca8ff;
				font-size: 15px;
			}
			
			.el-row {
				&:last-child {
					margin-bottom: 0;
				}
			}
			
			.el-col {
				border-radius: 4px;
				padding: 5px;
			}
			
			.bg-purple-dark {
				background: #99a9bf;
			}
			
			.bg-purple {
				background: #d3dce6;
			}
			
			.bg-purple-light {
				background: #e5e9f2;
			}
			
			.grid-content {
				border-radius: 4px;
				min-height: 36px;
			}
			
			.row-bg {
				padding: 10px 0;
				background-color: #f9fafc;
			}
		</style>
	</head>

	<body>
		<div id="cxda">
			<el-row :gutter="20">
				<el-col :span="7" style="height: 780px;border-right:gainsboro solid 1px;">
					<el-col :span="6">
						<el-button @click="xzpp" type="primary" size="mini" plain>新增</el-button>
					</el-col>
					<el-col :span="6">
						<el-button @click="xgpp" type="primary" size="mini" plain>修改</el-button>
					</el-col>
					<el-col :span="6">
						<el-button @click="shanpinpai" type="primary" size="mini" plain>删除</el-button>
					</el-col>
					<!--<el-col :span="24">
						<el-col :span="15">
							<el-input v-model="input" size="mini" placeholder="匹配名称/名称简码/手机/会员卡号/车牌号"></el-input>
						</el-col>
						<el-col :span="5">
							<el-button type="primary" plain size="mini">搜索</el-button>
						</el-col>
					</el-col>-->
					<el-col :span="22">
						<template>
							<el-table height="650" stripe border ref="singleTable" :data="carbrand" highlight-current-row @current-change="handleCurrentChange" style="width: 100%">
								<el-table-column property="brandid" label="编码">
								</el-table-column>
								<el-table-column property="brandname" label="品牌">
								</el-table-column>
								<el-table-column property="brandletter" label="首字母">
								</el-table-column>
							</el-table>
						</template>
					</el-col>
				</el-col>
				<!--<div id="" style="border: solid 1px;height: 700px;width: 2px;">
				</div>-->
				<el-col :span="17" style="padding-left:100px;">
					<el-col :span="2">
						<el-button @click="xzchexing" type="primary" size="mini" plain>新增</el-button>
					</el-col>
					<el-col :span="2">
						<el-button @click="xgchexing" type="primary" size="mini" plain>修改</el-button>
					</el-col>
					<el-col :span="2">
						<el-button @click="scchexing" type="primary" size="mini" plain>删除</el-button>
					</el-col>
					<el-col :span="2">
						<el-button type="primary" size="mini" plain>照片</el-button>
					</el-col>
					<el-col :span="16">
						<el-col :span="15">
							<el-input v-model="input" size="mini" placeholder="匹配名称/名称简码/手机/会员卡号/车牌号"></el-input>
						</el-col>
						<el-col :span="4">
							<el-button type="primary" plain size="mini">搜索</el-button>
						</el-col>
					</el-col>
					<el-col :span="22">
						<template>
							<el-table height="680" stripe border ref="singleTable" :data="motorcycle" highlight-current-row @current-change="handleCurrentChange1">
								<el-table-column prop="motorcyclename" label="车型" width="173">
								</el-table-column>
								<el-table-column prop="motorcycleprice" label="参考价格" width="150">
								</el-table-column>
								<el-table-column label="发动机" width="150">
									<template slot-scope="temp">
										<span v-if="temp.row.motorid==1">奥利给</span>
										<span v-if="temp.row.motorid==2">哈撒给</span>
									</template>
								</el-table-column>
								<el-table-column prop="" label="车辆年款" width="150">
								</el-table-column>
								<el-table-column prop="" label="功率" width="150">
								</el-table-column>
								<el-table-column prop="" label="进口国产" width="150">
								</el-table-column>
							</el-table>
						</template>
					</el-col>
				</el-col>
			</el-row>
			<el-dialog title="品牌定义" :visible.sync="isShow3" width="20%" :before-close="handleClose1">
				<el-row :gutter="24" style="background-color: #f3fffd;">
					<el-col :span="24">
						<span>品牌名称：</span>
						<el-input v-model="pinpai.brandname" style="width: 70%;">
					</el-col>
					<el-col :span="24">
						<span>首字母：</span>
						<el-input v-model="pinpai.brandletter" style="width: 74%;">
					</el-col>
				</el-row>
				<span slot="footer" class="dialog-footer">
	    			<el-button @click="md1qx">取 消</el-button>
	    			<el-button type="primary" @click="md1qd">确 定</el-button>
  				</span>
			</el-dialog>
			<el-dialog title="车型定义" :visible.sync="isShow2" width="50%" :before-close="handleClose1">
				<el-row :gutter="24" style="background-color: #f3fffd;">
					<el-col :span="24">
						<el-col :span="24">
							<span>车辆品牌：</span>
							<el-input v-model="pinpai.brandid" :disabled="true" style="width: 30%;"></el-input>
							<el-input v-model="pinpai.brandname" :disabled="true" style="width: 53%;"></el-input>
						</el-col>
						<el-col :span="24">
							<el-col :span="12">
								<span>车型名称：</span>
								<el-input v-model="chexing.motorcyclename" style="width: 70%;">
							</el-col>
							<el-col :span="12">
								<span>参考价格：</span>
								<el-input v-model="chexing.motorcycleprice" style="width: 70%;">
							</el-col>
						</el-col>
						<el-col :span="24">
							<el-col :span="12">
								<span>车辆年款：</span>
								<el-input style="width: 70%;">
							</el-col>
							<el-col :span="12">
								<span>功率：</span>
								<el-input style="width: 80%;">
							</el-col>
						</el-col>
						<el-col :span="24">
							<el-col :span="12">
								<span>燃油标号：</span>
								<el-input style="width: 70%;">
							</el-col>
							<el-col :span="12">
								<span>载重：</span>
								<el-input style="width: 80%;">
							</el-col>
						</el-col>
						<el-col :span="24">
							<span>发动机品牌：</span>
							<el-select v-model="chexing.motorid" placeholder="请选择"  style="width: 82%;">
								<el-option v-for="(temp,i) in fadongji" :label="temp.motorname" :value="temp.motorid"></el-option>
							</el-select>
						</el-col>
					</el-col>
				</el-row>
				<span slot="footer" class="dialog-footer">
	    			<el-button @click="md2qx">取 消</el-button>
	    			<el-button type="primary" @click="md2qd">确 定</el-button>
  				</span>
			</el-dialog>
		</div>
	</body>
	<!--	<script type="text/javascript" src="../js/index.js"></script>-->
	<script>
		var indexApp = new Vue({
			data: {
				carbrand: [],
				motorcycle:[],
				xuanzhongpinpai: null,
				xuanzhongchexing:null,
				isShow2: false,
				isShow3: false,
				checked: false,
				pinpai: {
					brandid: 0,
					brandname: '',
					brandletter: ''
				},
				chexing:{
					motorcycleid:0,
					motorcyclename:'',
					motorcycleprice:'',
					brandid:'',
					motorid:''
				},
				a:null,
				b:null,
				fadongji:[]
			},
			methods: {
				scchexing(){
					if(this.xuanzhongchexing == null) {
						this.$message("请选中需要删除的车型");
					} else {
						this.$confirm('此操作将永久删除该车型, 是否继续?', '提示', {
							confirmButtonText: '确定',
							cancelButtonText: '取消',
							type: 'warning'
						}).then(() => {
							let _this = this;
							$.ajax(`http://127.0.0.1:8080/api/LyfKhzlAction/shanchexing/${_this.xuanzhongchexing.motorcycleid}`, 
							{
							type: "delete",
							dataType: "json",
							success(data) {
								if(data.code == "200") {
									_this.$message({
										type: 'success',
										message: '删除成功!'
									});
									$(".is-active.is-closable").click();
								} else {
									_this.$message(date.msg);
								}
							}
						});
						}).catch(() => {
							this.$message({
								type: 'info',
								message: '已取消删除'
							});
						});
					}
				},
				xgchexing(){
					if(this.xuanzhongchexing==null){
						this.$message("请选中需要修改的车型");
					}else{
						this.pinpai=this.xuanzhongpinpai;
						this.b=this.xuanzhongpinpai;
						this.chexing=this.xuanzhongchexing;
						this.chexing.brandid=this.xuanzhongpinpai.brandid;
						this.isShow2 = true;
					}
				},
				md2qx() {
					this.isShow2 = false;
					this.chexing={
						motorcycleid:0,
						motorcyclename:'',
						motorcycleprice:'',
						brandid:'',
						motorid:''
					};
					this.b=null;
				},
				md2qd() {
					alert()
					if(this.b==null){
						this.isShow2 = false;
						this.addchexing();
					}else{
						this.isShow2 = false;
						this.xgchexing1();
					}
				},
				xgchexing1() {
					let _this = this;
					$.ajax(`http://127.0.0.1:8080/api/LyfKhzlAction/xgchexing`, {
						type: "post",
						contentType: "application/json",
						data: JSON.stringify(_this.chexing),
						dataType: "json",
						success(date) {
							if(date.code == "200") {
								_this.$message(date.msg);
							} else {
								_this.$message(date.msg);
							}
							_this.chexing={
								motorcycleid:0,
								motorcyclename:'',
								motorcycleprice:'',
								brandid:'',
								motorid:''
							};
							_this.b=null;
							$(".is-active.is-closable").click();
						}
					});
				},
				addchexing() {
					let _this = this;
					$.ajax(`http://127.0.0.1:8080/api/LyfKhzlAction/addchexing`, {
						type: "post",
						contentType: "application/json",
						data: JSON.stringify(_this.chexing),
						dataType: "json",
						success(date) {
							if(date.code == "200") {
								_this.$message(date.msg);
							} else {
								_this.$message(date.msg);
							}
							$(".is-active.is-closable").click();
						}
					});
				},
				xzchexing() {
					if(this.xuanzhongpinpai==null){
						this.$message("请选中需要新增的品牌");
					}else{
						this.pinpai=this.xuanzhongpinpai;
						this.chexing.brandid=this.xuanzhongpinpai.brandid;
						this.isShow2 = true;
					}
				},
				shanpinpai() {
					if(this.xuanzhongpinpai == null) {
						this.$message("请选中需要删除的品牌");
					} else {
						this.$confirm('此操作将永久删除该品牌, 是否继续?', '提示', {
							confirmButtonText: '确定',
							cancelButtonText: '取消',
							type: 'warning'
						}).then(() => {
							let _this = this;
							$.ajax(`http://127.0.0.1:8080/api/LyfKhzlAction/shanpinpai/${_this.xuanzhongpinpai.brandid}`, 
							{
							type: "delete",
							dataType: "json",
							success(data) {
								if(data.code == "200") {
									_this.$message({
										type: 'success',
										message: '删除成功!'
									});
									$(".is-active.is-closable").click();
								} else {
									_this.$message(date.msg);
								}
							}
						});
						}).catch(() => {
							this.$message({
								type: 'info',
								message: '已取消删除'
							});
						});
					}
				},
				xzpp() {
					this.isShow3 = true;
				},
				xgpp() {
					if(this.xuanzhongpinpai == null) {
						this.$message("请选中需要修改的品牌");
					} else {
						this.pinpai = this.xuanzhongpinpai;
						this.a=this.pinpai;
						this.isShow3 = true;
					}
				},
				md1qx() {
					this.isShow3 = false;
					this.pinpai={
								brandid: 0,
								brandname: '',
								brandletter: ''
							};
					this.a=null;
				},
				md1qd() {
					this.isShow3 = false;
					if(this.a==null){
						this.addpp();
					}else{
						this.xiugaipinpai();
					}
					
				},
				addpp() {
					let _this = this;
					$.ajax(`http://127.0.0.1:8080/api/LyfKhzlAction/addpinpai`, {
						type: "post",
						contentType: "application/json",
						data: JSON.stringify(_this.pinpai),
						dataType: "json",
						success(date) {
							if(date.code == "200") {
								_this.$message(date.msg);
							} else {
								_this.$message(date.msg);
							}
							_this.pinpai={
								brandid: 0,
								brandname: '',
								brandletter: ''
							};
							_this.a=null;
							$(".is-active.is-closable").click();
						}
					});
				},
				xiugaipinpai() {
					let _this = this;
					$.ajax(`http://127.0.0.1:8080/api/LyfKhzlAction/xiugaipinpai`, {
						type: "post",
						contentType: "application/json",
						data: JSON.stringify(_this.pinpai),
						dataType: "json",
						success(date) {
							if(date.code == "200") {
								_this.$message(date.msg);
							} else {
								_this.$message(date.msg);
							}
							_this.pinpai={
								brandid: 0,
								brandname: '',
								brandletter: ''
							};
							_this.a=null;
							$(".is-active.is-closable").click();
						}
					});
				},
				handleCurrentChange(val) {
					this.xuanzhongpinpai = val;
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/api/LyfKhzlAction/chachexing/${val.brandid}`, function(data) {
						_this.motorcycle = data;
					});
				},
				handleCurrentChange1(val) {
					this.xuanzhongchexing = val;
				},
				handleClose1(done) {
					//确认框
					this.$confirm('是否关闭').then(() => {
						this.pinpai={
								brandid: 0,
								brandname: '',
								brandletter: ''
							};
						this.a=null;
						this.b=null;
						this.chexing={
							motorcycleid:0,
							motorcyclename:'',
							motorcycleprice:'',
							brandid:'',
							motorid:''
						};
						$(".is-active.is-closable").click();
						done(); //关闭
					}).catch(() => {
						//错误
						console.debug('取消操作');
					});
				},
				goToPage() {
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/api/LyfKhzlAction/cxdaqcpp`, function(data) {
						_this.carbrand = data;
					});
				},getfadongji(){
					let  _this=this;
						$.getJSON(`http://127.0.0.1:8080/api/fadongjis/showList`, function(val) {

							_this.fadongji = val.list;

						});
				}
			},
			mounted() {
				this.goToPage();
				this.getfadongji();
			}
		}).$mount('#cxda');
	</script>

</html>