<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<!--<link rel="stylesheet" href="../css/index.css" />
		<script type="text/javascript" src="../js/vue.js"></script>
		<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
		<script type="text/javascript" src="../js/jq_ajax_config.js"></script>-->
		<style>
			* {
				padding: 0;
				margin: 0;
			}
			
			.el-dropdown-link {
			    cursor: pointer;
			    color: #409EFF;
			    font-size: 15px;
			}
			.el-icon-arrow-down {
			    font-size: 15px;
			}
			
			i {
				color: #5ca8ff;
				font-size: 18px;
			}
			
			.el-row {
				&:last-child {
					margin-bottom: 0;
				}
			}
			
			/*.el-tabs__content {
				display: block;
			}*/
			
			.el-col {
				border-radius: 4px;
				padding: 5px;
			}
			
			.bg-purple-dark {
				background: #99a9bf;
			}
			
			.bg-purple {
				background: #d3dce6;
			}
			
			.bg-purple-light {
				background: #e5e9f2;
			}
			
			.grid-content {
				border-radius: 4px;
				min-height: 36px;
			}
			
			.row-bg {
				padding: 10px 0;
				background-color: #f9fafc;
			}
		</style>
	</head>

	<body>
		<div id="khzl">
			<el-row :gutter="20" >
				<el-col :span="8">
					<el-col :span="6">
						<el-dropdown :hide-on-click="false" placement="top">
						  <span class="el-dropdown-link">
						    客户编辑<i class="el-icon-arrow-down el-icon--right"></i>
						  </span>
						  <el-dropdown-menu slot="dropdown">
						    <el-dropdown-item><span @click="md1">增加客户和车</span></el-dropdown-item>
						    <el-dropdown-item><span @click="md22">增加客户</span></el-dropdown-item>
						    <el-dropdown-item><span @click="md2">修改客户</span></el-dropdown-item>
						    <el-dropdown-item><span @click="shanchukuhu">删除客户</span></el-dropdown-item>
						  </el-dropdown-menu>
						</el-dropdown>
					</el-col>
					<el-col :span="6">
						<el-dropdown :hide-on-click="false" placement="top">
						  <span class="el-dropdown-link">
						    车资料<i class="el-icon-arrow-down el-icon--right"></i>
						  </span>
						  <el-dropdown-menu slot="dropdown">
						    <el-dropdown-item><span @click="md33">增加车资料</span></el-dropdown-item>
						    <el-dropdown-item><span @click="md3">修改车资料</span></el-dropdown-item>
						    <el-dropdown-item><span @click="shanchuche">删除车资料</span></el-dropdown-item>
						  </el-dropdown-menu>
						</el-dropdown>
					</el-col>
					<el-col :span="6">
						<!--<i class="el-icon-user">客户分类</i>-->
					</el-col>
					<el-col :span="6">
						<!--<i class="el-icon-search">查询</i>-->
					</el-col>
				</el-col>
				<el-col :span="2">
					<!--<i @click="daochukhzl" class="el-icon-upload2">导出</i>-->
				</el-col>
				<el-col :span="5">
					<!--<i class="el-icon-setting">字段设置</i>-->
				</el-col>
				<el-col :span="5">
					<el-input size="mini" v-model="tiaojian" placeholder="匹配名称/名称简码/手机"></el-input>
				</el-col>
				<el-col :span="2">
					<el-button type="primary" @click="cha" plain size="mini">搜索</el-button>
				</el-col>
				<el-col :span="2">
					<el-button @click="daochukhzl" type="info" plain size="mini">导出</el-button>
				</el-col>
			</el-row>
			<el-row :gutter="20" style="margin: 20px;">
				<template>
					<el-table height="300" stripe border ref="singleTable" :data="consumerinfo" highlight-current-row @current-change="handleCurrentChange" style="width: 100%; margin-bottom: 30px;">
						<el-table-column prop="userid" label="客户编码">
						</el-table-column>
						<el-table-column prop="username" label="姓名">
						</el-table-column>
						<el-table-column prop="userphone" label="电话">
						</el-table-column>
						<el-table-column prop="useraddress" label="地址">
						</el-table-column>
						<el-table-column prop="userbrithday" label="生日">
						</el-table-column>
						<el-table-column prop="userremark" label="备注">
						</el-table-column>
					</el-table>
				</template>
			</el-row>
			<el-row :gutter="20" style="background-color: #d7eaff;margin: 20px;">
						<template>
							<el-table height="300" stripe border ref="singleTable" :data="consumercar" highlight-current-row @current-change="handleCurrentChange1" style="width: 100%;">
								<el-table-column prop="consumerid" label="编号">
								</el-table-column>
								<el-table-column prop="carnumber" label="车牌号码">
								</el-table-column>
								<el-table-column prop="brandname" label="车辆品牌">
								</el-table-column>
								<el-table-column prop="motorcyclename" label="车辆型号">
								</el-table-column>
								<el-table-column prop="drivername" label="驾驶员">
								</el-table-column>
								<el-table-column prop="driverphone" label="驾驶员电话">
								</el-table-column>
								<el-table-column prop="driverbrithday" label="出生日期">
								</el-table-column>
								<el-table-column prop="motorletter" label="发动机号">
								</el-table-column>
								<el-table-column prop="motorname" label="发动机品牌">
								</el-table-column>
							</el-table>
						</template>
			</el-row>
			<el-dialog title="增加客户和车资料" :visible.sync="isShow1" width="80%" :before-close="handleClose1">
				<el-row :gutter="24" style="background-color: #f3fffd;">
					<el-col :span="6">
						<span>客户编码：</span>
						<el-input v-model="kehu.userid" :disabled="true" style="width: 70%;">
					</el-col>
					<el-col :span="6">
						<span>客户名称：</span>
						<el-input v-model="kehu.username" style="width: 70%;">
					</el-col>
					<el-col :span="6">
						<span>联系人：</span>
						<el-input style="width: 70%;">
					</el-col>
					<el-col :span="6">
						<span>手机号码：</span>
						<el-input v-model="kehu.userphone" style="width: 70%;">
					</el-col>
				</el-row>
				<el-row :gutter="20" style="background-color: #f3fffd;">
					<el-col :span="12">
						<span>客户地址：</span>
						<el-input v-model="kehu.useraddress" style="width: 85%;">
					</el-col>
					<el-col :span="6">
						<span>客户生日：</span>
						<el-input v-model="kehu.userbrithday" type="date" style="width: 66%;">
					</el-col>
				</el-row>
				<!--<el-row :gutter="20" style="background-color: #f3fffd;">
					<el-col :span="6">
						<span>账期（天）：</span>
						<el-input style="width: 66%;">
					</el-col>
					<el-col :span="6">
						<span>挂账额度：</span>
						<el-input style="width: 70%;">
					</el-col>
					<el-col :span="6">
						<span>挂账顾问：</span>
						<el-input style="width: 67%;">
					</el-col>
					<el-col :span="6">
						<span>顾问电话：</span>
						<el-input style="width: 70%;">
					</el-col>
				</el-row>-->
				<el-row :gutter="20" style="background-color: #f3fffd;">
					<el-col :span="6">
						<span>省：</span>
						<el-select @change="xuanzhong1()" v-model="xuanzhongsheng" placeholder="请选择" style="width: 84%;">
							<el-option v-for="temp in sheng" :key="temp.provinces" :label="temp.provinces" :value="temp.id">
							</el-option>
						</el-select>
					</el-col>
					<el-col :span="6">
						<span>市区：</span>
						<el-select @change="xuanzhong3()" v-model="xuanzhongshiqu" placeholder="请选择" style="width: 79%;">
							<el-option v-for="temp in shiqu" :key="temp.market" :label="temp.market" :value="temp.id">
							</el-option>
						</el-select>
					</el-col>
				</el-row>
				<el-row :gutter="20" style="background-color: #f3fffd;">
					<el-col :span="24">
						<span style="line-height: 50px;">备注：</span>
						<el-input v-model="kehu.userremark" type="textarea" :rows="2" placeholder="请输入内容" style="width: 95%;">
					</el-col>
				</el-row>
				<el-row :gutter="20" style="background-color: #f3fffd;">
					<el-col :span="6">
						<span>车牌号码：</span>
						<el-input v-model="kehuche.carnumber" style="width: 70%;">
					</el-col>
					<el-col :span="6">
						<span>车辆品牌：</span>
						<el-select @change="xuanzhong2()" v-model="xuanzhongcheliangpinpai" placeholder="请选择" style="width: 70%;">
							<el-option v-for="temp in cheliangpinpaiList" :label="temp.brandname" :value="temp.brandid">
							</el-option>
						</el-select>
					</el-col>
					<el-col :span="6">
						<span>车辆型号：</span>
						<el-select v-model="xuanzhongchexing" placeholder="请选择" style="width: 67%;">
							<el-option v-for="temp in chexing" :label="temp.motorcyclename" :value="temp.motorcycleid">
							</el-option>
						</el-select>
					</el-col>
					<el-col :span="6">
						<span>驾驶员：</span>
						<el-input v-model="kehuche.drivername" style="width: 75%;">
					</el-col>
				</el-row>
				<el-row :gutter="20" style="background-color: #f3fffd;">
					<el-col :span="6">
						<span>驾驶员电话：</span>
						<el-input v-model="kehuche.driverphone" style="width: 66%;">
					</el-col>
					<el-col :span="6">
						<span>出生日期：</span>
						<el-input v-model="kehuche.driverbrithday" type="date" style="width: 70%;">
					</el-col>
					<el-col :span="6">
						<span>车辆归属：</span>
						<el-input style="width: 67%;">
					</el-col>
					<el-col :span="6">
						<span>入场日期：</span>
						<el-input v-model="kehuche.driverdate" type="date" style="width: 71%;">
					</el-col>
				</el-row>
				<el-row :gutter="20" style="background-color: #f3fffd;">
					<el-col :span="6">
						<span>车架号：</span>
						<el-input style="width: 74%;">
					</el-col>
					<el-col :span="6">
						<span>发动机号：</span>
						<el-input style="width: 70%;">
					</el-col>
					<el-col :span="6">
						<span>车辆年款：</span>
						<el-input style="width: 67%;">
					</el-col>
					<el-col :span="6">
						<span>里程：</span>
						<el-input v-model="kehuche.carcourse" style="width: 79%;">
					</el-col>
				</el-row>
				<el-row :gutter="20" style="background-color: #f3fffd;">
					<el-col :span="12">
						<span>发动机品牌：</span>
						<el-input style="width: 83%;">
					</el-col>
					<el-col :span="6">
						<span>载重：</span>
						<el-input style="width: 75%;">
					</el-col>
					<el-col :span="6">
						<span>购买日期：</span>
						<el-input v-model="kehuche.buycar" type="date" style="width: 71%;">
					</el-col>
				</el-row>
				<!--<el-row :gutter="20" style="background-color: #f3fffd;">
					<el-col :span="6">
						<span>上牌日期：</span>
						<el-input type="date" style="width: 70%;">
					</el-col>
					<el-col :span="6">
						<span>车检到期：</span>
						<el-input type="date" style="width: 70%;">
					</el-col>
					<el-col :span="6">
						<span>燃油类别：</span>
						<el-input style="width: 67%;">
					</el-col>
					<el-col :span="6">
						<el-checkbox v-model="checked" style="line-height: 40px;">在我投保车</el-checkbox>
					</el-col>
				</el-row>
				<el-row :gutter="20" style="background-color: #f3fffd;">
					<el-col :span="6">
						<span>交强险保险公司：</span>
						<el-input style="width: 56%;">
					</el-col>
					<el-col :span="6">
						<span>交强险到期：</span>
						<el-input type="date" style="width: 66%;">
					</el-col>
					<el-col :span="6">
						<span>商业险保险公司：</span>
						<el-input style="width: 53%;">
					</el-col>
					<el-col :span="6">
						<span>商业险到期：</span>
						<el-input type="date" style="width: 65%;">
					</el-col>
				</el-row>-->
				<span slot="footer" class="dialog-footer">
	    			<el-button @click="md1qx">取 消</el-button>
	    			<el-button type="primary" @click="md11">确 定</el-button>
  				</span>
			</el-dialog>
			<el-dialog title="客户资料编辑" :visible.sync="isShow2" width="80%" :before-close="handleClose1">
				<el-row :gutter="20" style="background-color: #f3fffd;">
					<el-col :span="6">
						<span>客户编码：</span>
						<el-input v-model="kehu.userid" :disabled="true" style="width: 70%;">
					</el-col>
					<el-col :span="6">
						<span>客户名称：</span>
						<el-input v-model="kehu.username" style="width: 70%;">
					</el-col>
					<el-col :span="6">
						<span>联系人：</span>
						<el-input style="width: 70%;">
					</el-col>
					<el-col :span="6">
						<span>手机号码：</span>
						<el-input v-model="kehu.userphone" style="width: 70%;">
					</el-col>
				</el-row>
				<el-row :gutter="20" style="background-color: #f3fffd;">
					<el-col :span="12">
						<span>客户地址：</span>
						<el-input v-model="kehu.useraddress" style="width: 85%;">
					</el-col>
					<el-col :span="6">
						<span>客户生日：</span>
						<el-input v-model="kehu.userbrithday" type="date" style="width: 66%;">
					</el-col>
				</el-row>
				<!--<el-row :gutter="20" style="background-color: #f3fffd;">
					<el-col :span="6">
						<span>账期（天）：</span>
						<el-input style="width: 66%;">
					</el-col>
					<el-col :span="6">
						<span>挂账额度：</span>
						<el-input style="width: 70%;">
					</el-col>
					<el-col :span="6">
						<span>挂账顾问：</span>
						<el-input style="width: 67%;">
					</el-col>
					<el-col :span="6">
						<span>顾问电话：</span>
						<el-input style="width: 70%;">
					</el-col>
				</el-row>-->
				<el-row :gutter="20" style="background-color: #f3fffd;">
					<el-col :span="6">
						<span>省：</span>
						<el-select @change="xuanzhong1()" v-model="xuanzhongsheng" placeholder="请选择" style="width: 84%;">
							<el-option v-for="temp in sheng" :key="temp.provinces" :label="temp.provinces" :value="temp.id">
							</el-option>
						</el-select>
					</el-col>
					<el-col :span="6">
						<span>市区：</span>
						<el-select @change="xuanzhong3()" v-model="xuanzhongshiqu" placeholder="请选择" style="width: 79%;">
							<el-option v-for="temp in shiqu" :key="temp.market" :label="temp.market" :value="temp.id">
							</el-option>
						</el-select>
					</el-col>
				</el-row>
				<el-row :gutter="20" style="background-color: #f3fffd;">
					<el-col :span="24">
						<span style="line-height: 50px;">备注：</span>
						<el-input v-model="kehu.userremark" type="textarea" :rows="2" placeholder="请输入内容" style="width: 95%;">
					</el-col>
				</el-row>
				<el-row :gutter="20" style="background-color: #f3fffd;">
					<el-col :span="12">
						<span>纳税人识别号：</span>
						<el-input style="width: 81%;">
					</el-col>
					<el-col :span="6">
						<span>注册电话：</span>
						<el-input style="width: 66%;">
					</el-col>
					<el-col :span="6">
						<span>开户银行：</span>
						<el-input style="width: 69%;">
					</el-col>
				</el-row>
				<el-row :gutter="20" style="background-color: #f3fffd;">
					<el-col :span="6">
						<span>银行账号：</span>
						<el-input style="width: 70%;">
					</el-col>
					<el-col :span="18">
						<span>注册地址：</span>
						<el-input style="width: 90%;">
					</el-col>
				</el-row>
				<el-row :gutter="20" style="background-color: #f3fffd;">
					<el-col :span="6">
						<span>其他一：</span>
						<el-input style="width: 74%;">
					</el-col>
					<el-col :span="6">
						<span>其他一：</span>
						<el-input style="width: 73%;">
					</el-col>
					<el-col :span="6">
						<span>其他一：</span>
						<el-input style="width: 72%;">
					</el-col>
					<el-col :span="6">
						<span>其他一：</span>
						<el-input style="width: 73%;">
					</el-col>
				</el-row>
				<span slot="footer" class="dialog-footer">
	    			<el-button @click="isShow2quxiao">取 消</el-button>
	    			<el-button type="primary" @click="isShow2queding">确 定</el-button>
  				</span>
			</el-dialog>
			<el-dialog title="车辆资料编辑" :visible.sync="isShow3" width="80%" :before-close="handleClose1">
				<el-row :gutter="20" style="background-color: #f3fffd;">
					<el-col :span="6">
						<span>车牌号码：</span>
						<el-input v-model="kehuche.carnumber" style="width: 70%;">
					</el-col>
					<el-col :span="6">
						<span>车辆品牌：</span>
						<el-select @change="xuanzhong2()" v-model="xuanzhongcheliangpinpai" placeholder="请选择" style="width: 70%;">
							<el-option v-for="temp in cheliangpinpaiList" :label="temp.brandname" :value="temp.brandid">
							</el-option>
						</el-select>
					</el-col>
					<el-col :span="6">
						<span>车辆型号：</span>
						<el-select v-model="xuanzhongchexing" placeholder="请选择" style="width: 67%;">
							<el-option v-for="temp in chexing" :label="temp.motorcyclename" :value="temp.motorcycleid">
							</el-option>
						</el-select>
					</el-col>
					<el-col :span="6">
						<span>驾驶员：</span>
						<el-input v-model="kehuche.drivername" style="width: 75%;">
					</el-col>
				</el-row>
				<el-row :gutter="20" style="background-color: #f3fffd;">
					<el-col :span="6">
						<span>驾驶员电话：</span>
						<el-input v-model="kehuche.driverphone" style="width: 66%;">
					</el-col>
					<el-col :span="6">
						<span>出生日期：</span>
						<el-input v-model="kehuche.driverbrithday" type="date" style="width: 70%;">
					</el-col>
					<el-col :span="6">
						<span>车辆归属：</span>
						<el-input style="width: 67%;">
					</el-col>
					<el-col :span="6">
						<span>入场日期：</span>
						<el-input v-model="kehuche.driverdate" type="date" style="width: 71%;">
					</el-col>
				</el-row>
				<el-row :gutter="20" style="background-color: #f3fffd;">
					<el-col :span="6">
						<span>车架号：</span>
						<el-input style="width: 74%;">
					</el-col>
					<el-col :span="6">
						<span>发动机号：</span>
						<el-input style="width: 70%;">
					</el-col>
					<el-col :span="6">
						<span>车辆年款：</span>
						<el-input style="width: 67%;">
					</el-col>
					<el-col :span="6">
						<span>里程：</span>
						<el-input v-model="kehuche.carcourse" style="width: 79%;">
					</el-col>
				</el-row>
				<el-row :gutter="20" style="background-color: #f3fffd;">
					<el-col :span="12">
						<span>发动机品牌：</span>
						<el-input style="width: 83%;">
					</el-col>
					<el-col :span="6">
						<span>载重：</span>
						<el-input style="width: 75%;">
					</el-col>
					<el-col :span="6">
						<span>购买日期：</span>
						<el-input v-model="kehuche.buycar" type="date" style="width: 71%;">
					</el-col>
				</el-row>
				<el-row :gutter="20" style="background-color: #f3fffd;">
					<el-col :span="6">
						<span>上牌日期：</span>
						<el-input type="date" style="width: 70%;">
					</el-col>
					<el-col :span="6">
						<span>车检到期：</span>
						<el-input type="date" style="width: 70%;">
					</el-col>
					<el-col :span="6">
						<span>燃油类别：</span>
						<el-input style="width: 67%;">
					</el-col>
					<el-col :span="6">
						<el-checkbox v-model="checked" style="line-height: 40px;">在我投保车</el-checkbox>
					</el-col>
				</el-row>
				<el-row :gutter="20" style="background-color: #f3fffd;">
					<el-col :span="6">
						<span>交强险保险公司：</span>
						<el-input style="width: 56%;">
					</el-col>
					<el-col :span="6">
						<span>交强险到期：</span>
						<el-input type="date" style="width: 66%;">
					</el-col>
					<el-col :span="6">
						<span>商业险保险公司：</span>
						<el-input style="width: 53%;">
					</el-col>
					<el-col :span="6">
						<span>商业险到期：</span>
						<el-input type="date" style="width: 65%;">
					</el-col>
				</el-row>
				<el-row :gutter="20" style="background-color: #f3fffd;">
					<el-col :span="6">
						<span>下次保养里程：</span>
						<el-input style="width: 61%;">
					</el-col>
					<el-col :span="6">
						<span>下次保养日期：</span>
						<el-input type="date" style="width: 61%;">
					</el-col>
					<el-col :span="6">
						<span>客户编码：</span>
						<el-input v-model="kehu.userid" :disabled="true" style="width: 66%;">
					</el-col>
				</el-row>
				<span slot="footer" class="dialog-footer">
	    			<el-button @click="isShow3quxiao">取 消</el-button>
	    			<el-button type="primary" @click="isShow3queding">确 定</el-button>
  				</span>
			</el-dialog>
		</div>
	</body>
	<!--<script type="text/javascript" src="../js/index.js"></script>-->
	<script>
		var khzl = new Vue({
			data: {
				tiaojian:null,
				a:null,
				b:null,
				input: '',
				currentRow: null,
				isShow1: false,
				isShow2: false,
				isShow3: false,
				checked: false,
				consumerinfo: [],
				consumercar: [],
				xuanzhongconsumercar: null,
				sheng: [],
				shiqu: [],
				xuanzhongsheng: '',
				xuanzhongshiqu: '',
				cheliangpinpaiList: [],
				xuanzhongcheliangpinpai: '',
				chexing: [],
				xuanzhongchexing: '',
				xuanzhongchexing1:'',
				kehu: {
					userid: '',
					username: '',
					userphone: '',
					useraddress: '',
					userbrithday: '',
					userremark: ''
				},
				kehuche: {
					consumerid: 0,
					userid: '',
					carnumber: '',
					motorcycleid: '',
					drivername: '',
					driverphone: '',
					driverbrithday: '',
					driverdate: '',
					carcourse: '',
					buycar: ''
				},
				dz:''
			},
			methods: {
				cha(){
					if(this.tiaojian==''){
						this.tiaojian=null;
					}
					this.goToPage();
				},
				daochukhzl(){
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/api/LyfKhzlAction/daochukhzl`, function(data) {
						if(data.code == "200") {
									_this.$message({
										type: 'success',
										message: '导出成功!'
									});
								} else {
									_this.$message(date.msg);
								}
					});
				},
				shanchuche(){
					if(this.xuanzhongconsumercar == null) {
						this.$message("请选中需要删除的车");
					} else {
						this.$confirm('此操作将永久删除该车, 是否继续?', '提示', {
							confirmButtonText: '确定',
							cancelButtonText: '取消',
							type: 'warning'
						}).then(() => {
							let _this = this;
							$.ajax(`http://127.0.0.1:8080/api/LyfKhzlAction/shanchukehuche/${_this.xuanzhongconsumercar.consumerid}`,
							{
							type: "delete",
							dataType: "json",
							success(data) {
								if(data.code == "200") {
									_this.$message({
										type: 'success',
										message: '删除成功!'
									});
								} else {
									_this.$message(date.msg);
								}
							}
						});
						}).catch(() => {
							this.$message({
								type: 'info',
								message: '已取消删除'
							});
						});
					}
				},
				shanchukuhu() {
					if(this.currentRow == null) {
						this.$message("请选中需要删除的客户");
					} else {
						this.$confirm('此操作将永久删除该客户, 是否继续?', '提示', {
							confirmButtonText: '确定',
							cancelButtonText: '取消',
							type: 'warning'
						}).then(() => {
							let _this = this;
							$.ajax(`http://127.0.0.1:8080/api/LyfKhzlAction/shanchukehu/${_this.currentRow.userid}`, 
							{
							type: "delete",
							dataType: "json",
							success(data) {
								if(data.code == "200") {
									_this.$message({
										type: 'success',
										message: '删除成功!'
									});
								} else {
									_this.$message(date.msg);
								}
							}
						});
						}).catch(() => {
							this.$message({
								type: 'info',
								message: '已取消删除'
							});
						});
					}
				},
				md33() {
					if(this.currentRow == null) {
						this.$message("请选中需要新增的客户");
					} else {
						this.kehu = this.currentRow;
						this.xuanzhongcheliangpinpai = '';
						this.xuanzhongchexing = '';
						this.isShow3 = true;
					}
				},
				md3() {
					if(this.currentRow == null) {
						this.$message("请选中需要修改的客户");
					} else if(this.xuanzhongconsumercar == null) {
						this.$message("请选中需要修改的车");
					} else {
						this.kehu = this.currentRow;
						this.kehuche = this.xuanzhongconsumercar;
						this.xuanzhongcheliangpinpai = this.kehuche.brandname;
						this.xuanzhongchexing = this.kehuche.motorcyclename;
						this.a=this.xuanzhongconsumercar;
						this.isShow3 = true;
					}
				},
				isShow3quxiao() {
					this.isShow3 = false;
					this.kehuche = {
						consumerid: 0,
						userid: '',
						carnumber: '',
						motorcycleid: '',
						drivername: '',
						driverphone: '',
						driverbrithday: '',
						driverdate: '',
						carcourse: '',
						buycar: ''
					}
					this.a=null;
				},
				isShow3queding() {
					this.isShow3 = false;
					if(this.a==null){
						this.kehuche.motorcycleid = this.xuanzhongchexing;
						this.kehuche.userid = this.kehu.userid;
						this.addkehuche();
					}else{
						this.xiugaiche();
					}
				},
				xiugaiche(){
					let _this = this;
					this.kehuche.userid = this.currentRow.userid;
					$.ajax(`http://127.0.0.1:8080/api/LyfKhzlAction/xiugaikehuche`, {
						type: "post",
						contentType: "application/json",
						data: JSON.stringify(_this.kehuche),
						dataType: "json",
						success(date) {
							if(date.code == "200") {
								_this.$message(date.msg);
							} else {
								_this.$message(date.msg);
							}
							_this.kehuche = {
								consumerid: 0,
								userid: '',
								carnumber: '',
								motorcycleid: '',
								drivername: '',
								driverphone: '',
								driverbrithday: '',
								driverdate: '',
								carcourse: '',
								buycar: ''
							};
							_this.a=null;
						}
					});
				},
				isShow2quxiao() {
					this.isShow2 = false;
					this.kehu = {
						userid: '',
						username: '',
						userphone: '',
						useraddress: '',
						userbrithday: '',
						userremark: ''
					};
					this.a=null;
				},
				isShow2queding() {
					this.isShow2 = false;
					if(this.a==null){
						this.addkehu();
					}else{
						this.xiugaikehu();
					}
				},
				xiugaikehu(){
					let _this = this;
					$.ajax(`http://127.0.0.1:8080/api/LyfKhzlAction/xiugaikehu`, {
						type: "post",
						contentType: "application/json",
						data: JSON.stringify(_this.kehu),
						dataType: "json",
						success(date) {
							if(date.code == "200") {
								_this.$message(date.msg);
							} else {
								_this.$message(date.msg);
							}
							_this.kehu = {
								userid: '',
								username: '',
								userphone: '',
								useraddress: '',
								userbrithday: '',
								userremark: ''
							};
							_this.a=null;
						}
					});
				},
				md22() {
						this.isShow2 = true;
						this.b=this.currentRow;
						let str = '';
						for(let i = 1; i <= 12; i++) {
							str = str + String.fromCharCode(Math.floor(Math.random() * 24 + 65));
						}
						this.kehu.userid = str;
				},
				md2() {
					if(this.currentRow == null) {
						this.$message("请选中需要修改的客户");
					} else {
						this.kehu = this.currentRow;
						this.a=this.kehu;
						this.isShow2 = true;
					}
				},
				md11() {
					this.isShow1 = false;
					this.kehuche.motorcycleid = this.xuanzhongchexing;
					this.kehuche.userid = this.kehu.userid;
					this.xuanzhongsheng= '';
					this.xuanzhongshiqu= '';
					this.addkehu();
					this.addkehuche();
				},
				md1qx(){
					this.isShow1 = false;
					this.kehu = {
							userid: '',
							username: '',
							userphone: '',
							useraddress: '',
							userbrithday: '',
							userremark: ''
						};
						this.a=null;
						this.xuanzhongsheng= '';
						this.xuanzhongshiqu= '';
						this.kehuche = {
							consumerid: 0,
							userid: '',
							carnumber: '',
							motorcycleid: '',
							drivername: '',
							driverphone: '',
							driverbrithday: '',
							driverdate: '',
							carcourse: '',
							buycar: ''
						};
				},
				addkehu() {
					let _this = this;
					$.ajax(`http://127.0.0.1:8080/api/LyfKhzlAction/addkehu`, {
						type: "post",
						contentType: "application/json",
						data: JSON.stringify(_this.kehu),
						dataType: "json",
						success(date) {
							if(date.code == "200") {
								_this.$message(date.msg);
							} else {
								_this.$message(date.msg);
							}
						}
					});
				},
				addkehuche() {
					let _this = this;
					$.ajax(`http://127.0.0.1:8080/api/LyfKhzlAction/addkehuche`, {
						type: "post",
						contentType: "application/json",
						data: JSON.stringify(_this.kehuche),
						dataType: "json",
						success(date) {
							if(date.code == "200") {
								_this.$message(date.msg);
							} else {
								_this.$message(date.msg);
							}
						}
					});
				},
				md1() {
					this.isShow1 = true;
					let str = '';
					for(let i = 1; i <= 12; i++) {
						str = str + String.fromCharCode(Math.floor(Math.random() * 24 + 65));
					}
					this.kehu.userid = str;
				},
				xuanzhong2() {
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/api/LyfKhzlAction/chexing/${_this.xuanzhongcheliangpinpai}`, function(data) {
						_this.chexing = data;
					});
				},
				xuanzhong1() {
					this.xuanzhongshiqu='';
					let obj = {};
					  obj = this.sheng.find((item)=>{
					    return item.id === this.xuanzhongsheng;
					  });
					  this.dz=obj.provinces;
					if(this.kehu.useraddress==''){
						this.kehu.useraddress=obj.provinces+this.kehu.useraddress;
					}else{
						this.kehu.useraddress='';
						this.kehu.useraddress=obj.provinces+this.kehu.useraddress;
					}
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/api/LyfKhzlAction/shiqu/${_this.xuanzhongsheng}`, function(data) {
						_this.shiqu = data;
					});
				},
				xuanzhong3() {
					if(this.xuanzhongshiqu!=''){
						obj = this.shiqu.find((item)=>{
					    	return item.id === this.xuanzhongshiqu;
					  	});
						this.kehu.useraddress=this.dz+obj.market;
					}else{
					let obj = {};
					  obj = this.shiqu.find((item)=>{
					    return item.id === this.xuanzhongshiqu;
					  });
						this.kehu.useraddress=this.kehu.useraddress+obj.market;
					}
				},
				handleCurrentChange(val) {
					this.currentRow = val;
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/api/LyfKhzlAction/xuanzhongconsumerinfochache/${val.userid}`, function(data) {
						_this.consumercar = data;
					});
				},
				handleCurrentChange1(val) {
					this.xuanzhongconsumercar = val;
				},
				shouche() {
					$("#che").hide();
				},
				shoukehu() {
					$("#kehu").hide();
				},
				kehubianji() {
					$("#kehu").show();
				},
				cheziliao() {
					$("#che").show();
				},
				handleClose1(done) {
					this.$confirm('是否关闭').then(() => {
						this.kehu = {
							userid: '',
							username: '',
							userphone: '',
							useraddress: '',
							userbrithday: '',
							userremark: ''
						};
						this.a=null;
						this.xuanzhongsheng= '';
						this.xuanzhongshiqu= '';
						this.kehuche = {
							consumerid: 0,
							userid: '',
							carnumber: '',
							motorcycleid: '',
							drivername: '',
							driverphone: '',
							driverbrithday: '',
							driverdate: '',
							carcourse: '',
							buycar: ''
						};
						done();
					}).catch(() => {
						console.debug('取消操作');
					});
				},
				goToPage() {
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/api/LyfKhzlAction/${_this.tiaojian}`, function(data) {
						_this.consumerinfo = data;
					});
				},
				shengfeng() {
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/api/LyfKhzlAction/sheng`, function(data) {
						_this.sheng = data;
					});
				},
				cheliangpinpai() {
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/api/LyfKhzlAction/cheliangpinpai`, function(data) {
						_this.cheliangpinpaiList = data;
					});
				}
			},
			mounted() {
				this.goToPage();
				this.shengfeng();
				this.cheliangpinpai();
			}
		}).$mount('#khzl');
	</script>

</html>