<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<div id="fclApp">
			<el-page-header @back="goBack" content="接车页面">
			</el-page-header>
			<el-switch style="float: right;margin-right: 50px;" @change="changeState" v-model="value1" active-text="站内接车" inactive-color="green" inactive-text="站外接车">
			</el-switch>
			<el-form :model="servicing" style="clear: both;text-align: left;margin-left: 200px;" class="demo-ruleForm">
				<el-form-item>
					<el-select filterable v-if="value1" v-model="sermain.rescueid" placeholder="请选择救援车牌号" @change="uprlist">
						<el-option v-for="item in FclSerAllVo.rlist" :label="item.rescuenumber" :data-price="item.price" :value="item.rescueid">
						</el-option>
					</el-select>
					<el-select filterable v-model="sermain.gid" collapse-tags style="margin-left: 10px;" @change="upglist" placeholder="请选择维修组">
						<el-option v-for="item in FclSerAllVo.alist" :label="item.gname" :data-price="item.price" :value="item.gid">
						</el-option>
					</el-select>
					<el-select filterable v-model="sermain.consumerid" collapse-tags style="margin-left: 10px;" placeholder="请选择客户车牌号">
						<el-option v-for="item in FclSerAllVo.clist" :label="item.carnumber" :value="item.consumerid">
						</el-option>
					</el-select>
				</el-form-item>
				<el-form-item>
					<el-input style="width:500px;" v-model="sermain.consumermark" placeholder="请输入维修备注"></el-input>
				</el-form-item>
			</el-form>
			<el-table :data="tableData" style="width: 100%">
				<el-table-column label="编号">
					<template slot-scope="temp">
						{{temp.$index+1}}
					</template>
				</el-table-column>
				<el-table-column prop="infoname" label="维修项目名">
				</el-table-column>
				<el-table-column prop="price" label="维修价格">
				</el-table-column>
				<el-table-column prop="infotime" label="技工耗时">
					<template slot-scope="temp">
						{{temp.row.infotime | changehouser}}
					</template>
				</el-table-column>
				<el-table-column align="center">
					<template slot="header" slot-scope="scope">
						<el-button type="success" size="mini" @click="gotoPages">添加维修项</el-button>
					</template>
					<template slot-scope="temp">
						<el-button v-if="!temp.row.bool" size="mini" type="danger" @click="deleteRow(temp.row.infoid)">删除</el-button>
					</template>
				</el-table-column>
			</el-table>
			</el-form>
			<el-table :data="shoplist" style="width: 100%">
				<el-table-column label="材料编号">
					<template slot-scope="temp">
						{{temp.$index+1}}
					</template>
				</el-table-column>
				<el-table-column prop="shname" label="材料名称">
				</el-table-column>
				<el-table-column prop="slprice" label="材料价格">
				</el-table-column>
				<el-table-column prop="number" label="使用数量">
						<template slot-scope="temp">
							<el-input style="width:150px;"  size="mini" v-model="temp.row.number" placeholder="请输入数量" @input="changenumber(temp.row)"></el-input>
						</template>
				</el-table-column>
				<!--<el-table-column prop="courseid" label="维修阶段">
					<template slot-scope="temp">
						{{temp.row.courseid | changecourseid}}
					</template>
				</el-table-column>-->
				<el-table-column align="center">
					<template slot="header" slot-scope="scope">
						<el-button type="success" size="mini" @click="gotoShop">添加材料</el-button>
					</template>
					<template slot-scope="temp">
						<el-button size="mini" type="danger" @click="deleteRow1(temp.row.serid)">删除</el-button>
					</template>
				</el-table-column>
			</el-table>
			<div class="text-right" style="margin: 20px  60px  10px;">
				<span style="margin-right: 30px;">（预计花费=项目费+技工费*小时+材料费）</span>
				<span style="margin-right: 30px;">预计花费：{{countprice}}元</span>
				<span style="margin-right: 30px;">预计耗时：{{counttime}}小时</span>
				<el-button size="mini" type="danger" @click="addSermain">开单</el-button>
			</div>

		</div>
		<script>
			var app = new Vue({
				data: {
					value1: true,
					servicing: {

					},
					shoplist:[],
					FclSerAllVo: {},
					price: '12',
					gprice: '12',
					name: '',
					countprice: 24,
					counttime: 2,
					tableData: [{
						"infoid": 0,
						"infoname": '救援费',
						"price": 12,
						"infomark": '救援费',
						"infotime": 1,
						"bool": true
					}, {
						"infoid": -1,
						"infoname": '技工费',
						"price": 12,
						"infomark": '技工费',
						"infotime": 1,
						"bool": true
					}],
					sermain: {
						rescueid: '',
						consumerid: '',
						gid: '',
						consumermark: ''
					},
					rescueid: 0,
					numbers: 2
				},
				methods: {
					deleteRow(infoid) {
						/*重新计算总价格 耗时 */
						var index1;
						this.tableData.forEach((temp, index) => {
							if(temp.infoid == infoid) {
								index1 = index;
							}
						});
						this.tableData.splice(index1, 1);
						this.reckonNumber();
					},
					deleteRow1(serid){
						this.shoplist.forEach((temp, index) => {
							if(temp.serid == serid) {
								index1 = index;
							}
						});
						this.shoplist.splice(index1, 1);
						this.reckonNumber();
					},
					uprlist() {
						//console.log(this.FclSerAllVo)
						let _this = this;
						_this.FclSerAllVo.rlist.forEach(temp => {
							if(temp["rescueid"] == _this.sermain.rescueid) {
								_this.tableData[0].price = temp.price;
								_this.price = temp.price;
							}
						})
						this.reckonNumber();
					},
					upglist() {
						let _this = this;
						_this.FclSerAllVo.alist.forEach(temp => {
							if(temp["gid"] == _this.sermain.gid) {
								if(!_this.value1) {
									_this.tableData[0].price = temp.gprice;
								} else {
									_this.tableData[1].price = temp.gprice;
								}
								_this.gprice = temp.gprice;
							}
						})
						this.reckonNumber();
					},
					gotoPages() {
						window.sessionStorage.setItem("multipleSelectionS", JSON.stringify(this.tableData));
						window.sessionStorage.setItem("numbers", this.numbers);
						showWindowDialog('fcl/addservicinginfo.html', '添加');
					},
					gotoShop(){
						window.sessionStorage.setItem("shoplist", JSON.stringify(this.shoplist));
						showWindowDialog('fcl/shop.html', '添加材料');
					},
					goBack() {
						$("#cnt").load("fcl/servicing_meetcar.html");
					},
					changeState() {
						if(!this.value1) {
							this.tableData.splice(0, 1);
							this.numbers = 1;
						} else {
							this.numbers = 2;
							this.tableData.unshift({
								"infoid": 0,
								"infoname": '救援费',
								"price": parseInt(this.price),
								"infomark": '救援费',
								"infotime": 1,
								"bool": true
							})
						}
						this.reckonNumber();
					},
					addSermain() {
						let _this = this;

						if(!this.value1) {
							_this.rescueid = 0;
						} else {
							_this.rescueid = _this.sermain.rescueid;
						}
						var vo = {
							"ser": {
								rescueid: _this.rescueid,
								consumerid: _this.sermain.consumerid,
								gid: _this.sermain.gid,
								consumermark: _this.sermain.consumermark,
								countprice: _this.countprice,
								counttime: _this.counttime
							},
							"list": _this.tableData,
							"shlist":_this.shoplist
						};
						//console.log(vo)
						$.ajax({
							url: `http://127.0.0.1:8080/fcl/api/sermain/addSerMain`,
							dataType: "json",
							type: "POST",
							data: JSON.stringify(vo),
							contentType: "application/json",
							success: function(data) {
								alert("添加成功");
								_this.goBack();
							}
						})
					},
					changenumber(val){
						if(val.number>val.slnumber){
							alert("库存不够");
							val.number=1;
							return;
						}
						this.reckonNumber();
					},
					reckonNumber() {
						let _this = this;
						_this.counttime = 0;
						_this.countprice = 0;
						_this.tableData.forEach(temp => {
							_this.counttime += temp.infotime;
							_this.countprice += temp.infotime * _this.gprice + temp.price;
						})
						
						_this.shoplist.forEach(temp => {
							_this.countprice += temp.number*temp.slprice;
						})
						_this.countprice = _this.countprice -_this.gprice;

					}
				},
				filters: {
					changehouser: function(value) {
						if(value == 0) {
							return '无需技工费'
						} else {
							return value+'/h'
						}
					},
					changecourseid:function(val){
						return "第"+(val+1)+"次施工"
					}
				},
				mounted() {
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/fcl/api/sermain/queryRescuecar`, function(res) {
						_this.FclSerAllVo = res;
					})
				}
			}).$mount("#fclApp");
		</script>
	</body>

</html>