<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<div id="constructApp">
			<div style="margin-bottom:20px;text-align: right;">
				<el-switch style="margin-right: 50px;" @change="gotoPage" v-model="value1" active-text="待施工" inactive-color="green" inactive-text="施工中">
				</el-switch>
			</div>
			<div v-loading="loading" >
				<el-table :data="pageinfo.list" border style="width: 100%">
					<el-table-column type="expand" style="text-align: center;">
						<template slot-scope="props">
							<el-table :data="props.row.list" border style="margin: 0 auto;">
								<el-table-column label="详细记录">
									<el-table-column prop="infoname" label="项目名称">
									</el-table-column>
									<el-table-column prop="price" label="项目价格">
									</el-table-column>
								</el-table-column>
							</el-table>
							<el-table :data="props.row.slist" border style="margin: 0 auto;">
								<el-table-column label="维修过程表">
									<el-table-column prop="courseid" label="编号">
									</el-table-column>
									<el-table-column prop="coursestarttime" label="开始时间">
									</el-table-column>
									<el-table-column prop="courseendtime" label="结束时间">
									</el-table-column>
									<el-table-column prop="coursestate" label="状态">
									</el-table-column>
									<el-table-column prop="coursemark" label="备注">
									</el-table-column>
								</el-table-column>
							</el-table>
						</template>
					</el-table-column>
					<el-table-column prop="ser.smid" label="订单号" width="180" align="center">
					</el-table-column>
					<el-table-column prop="name" label="车牌号" width="180" align="center">
					</el-table-column>
					<el-table-column prop="gname" label="技工组" width="180" align="center">
					</el-table-column>
					<el-table-column prop="ser.countprice" label="维修金额" align="center">
					</el-table-column>
					<el-table-column prop="ser.consumermark" label="备注" width="180" align="center">
					</el-table-column>
					<el-table-column prop="ser.starttime" label="进厂日期" width="180" align="center">
					</el-table-column>
					<!--<el-table-column prop="ser.entime" label="完工日期" align="center">
					</el-table-column>-->
					<el-table-column label="操作" align="center">
						<template slot-scope="temp">
							<!--<el-button size="mini" type="danger" @click="">修改</el-button>-->
							<el-button v-if="temp.row.ser.state==0||temp.row.ser.state==5" size="mini" type="danger" @click="updateState(temp.row.ser.smid,1)">开始施工</el-button>
							<el-button v-if="temp.row.ser.state==1" size="mini" type="danger" @click="updateState(temp.row.ser.smid,2)">结束施工</el-button>
						</template>
					</el-table-column>
				</el-table>
				<div style="text-align: center;" v-if="pageinfo.list!== undefined &&pageinfo.list.length!=0">
					<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="1" :total="pageinfo.total" :page-sizes="[5,10,15,20]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper">
					</el-pagination>
				</div>
			</div>
		</div>
	</body>
	<script>
		var constructApp = new Vue({
			data: {
				value1:true,
				loading: true,
				pageinfo: {},
				currentPage: 1,
				pageSize: 5
			},
			mounted() {
				this.gotoPage();
			},
			methods: {
				handleSizeChange(val) {
					this.pageSize = val;
					this.gotoPage();
				},
				handleCurrentChange(val) {
					this.currentPage = val;
					this.gotoPage();
				},
				gotoPage() {
					let _this = this;
					_this.loading = true;
					var state=0;
					var status=0;
					if(!_this.value1){
						state=1,
						status=1
					}
					$.getJSON(`http://127.0.0.1:8080/fcl/api/sermain/queryPage/${_this.currentPage}/${_this.pageSize}/${state}`,{
						"status":status
					}, function(res) {
						_this.pageinfo = res;
						setTimeout(() => {
							_this.loading = false;
						}, 1000);
					})
				},
				updateState(id, state) {
					let  _this=this;
					$.getJSON(`http://127.0.0.1:8080/fcl/api/sermain/updateCourseState/${id}/${state}`, function(res) {
						alert("成功");
						_this.gotoPage();
					})
				}
			}
		}).$mount("#constructApp");
	</script>

</html>