<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<div id="inspectApp">
			<el-form ref="ser" :model="ser" label-width="80px">
				<el-form-item label="编号">
					<el-input v-model="ser.ser.smid" readonly="readonly"></el-input>
				</el-form-item>
				<el-form-item label="车牌号">
					<el-input v-model="ser.name" readonly="readonly"></el-input>
				</el-form-item>
				<el-form-item label="施工组">
					<el-input v-model="ser.gname" readonly="readonly"></el-input>
				</el-form-item>
				
				<el-form-item label="是否合格">
					<el-radio-group v-model="radio">
						<el-radio :label="0" >合格</el-radio>
						<el-radio :label="1">不合格</el-radio>
					</el-radio-group>
				</el-form-item>
				<el-form-item label="备注">
					<el-input type="textarea" v-model="coursemark"></el-input>
				</el-form-item>
				<el-form-item style="text-align: right;">
					<el-button type="primary" @click="addcourse">完成</el-button>
					<el-button @click="this.closeWindowDialog()">取消</el-button>
				</el-form-item>
			</el-form>
		</div>
		<script>
			var inspectApp = new Vue({
				data: {
					ser:JSON.parse(window.sessionStorage.getItem("ser")),
					radio:0,
					coursemark:''
				},methods:{
					addcourse(){
						let _this=this;
						var se={
							"smid":_this.ser.ser.smid,
							"coursestate":_this.radio,
							coursemark:_this.coursemark
						};
						$.ajax({
							url: `http://127.0.0.1:8080/fcl/api/sermain/modifyCourse`,
							dataType: "json",
							type: "POST",
							data: JSON.stringify(se),
							contentType: "application/json",
							success: function(data) {
								alert("检验完成");
							}
						});
					}
				}
			}).$mount("#inspectApp");
		</script>
	</body>

</html>