<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<div id="powerupApp">
			<el-container>
				<el-aside width="200px" style="border: 1px gainsboro solid;border-radius: 5px;padding:10px 10px;">
					<h5>公司职位</h5>
					<el-tree :data="departments" :props="defaultProps" @node-click="handleNodeClick"></el-tree>
				</el-aside>
				<el-main style="border: 1px gainsboro solid;border-radius: 5px;padding:10px 10px">
					<h3 class="text-center">{{title}}</h3>
					<el-checkbox-group v-model="checkList">
						<div style="width: 310px;margin: 10px 3px;border-radius: 5px;float: left;border: 1px gainsboro solid;" v-for="(temp,i) in powerData">
							<h3 class="text-center">{{temp.powername}}</h3>
							<div v-for="temp1 in temp.list" style="border: 1px gainsboro solid;padding: 5px;margin: 5px;">
								<el-checkbox :label="temp1.powerid" @change="handleCheckAllChange(temp1.powerid)">{{temp1.powername}}</el-checkbox>
								<div style="margin: 15px 0;"></div>
								<el-checkbox v-for="temp2 in temp1.list" :label="temp2.powerid" :data-id="temp2.powerparent">{{temp2.powername}}</el-checkbox>
							</div>
						</div>
					</el-checkbox-group>
					<el-button type="success" @click="upPower">保存</el-button>
				</el-main>
			</el-container>
		</div>
	</body>
	<script>
		var powerupApp = new Vue({
			data: {
				checkList: [],
				departments: [],
				defaultProps: {
					children: 'list',
					label: 'positionname',
				},
				powerData: [],
				positionid: 0,
				title: '公司权限管理',
				departmentname: ''
			},
			methods: {
				handleCheckAllChange(name) {
					let _this = this;
					//判断有无元素
					console.log(_this.checkList);
					if(_this.checkList.indexOf(name) == -1) {
						//移除
						$.each($("[data-id=" + name + "] input"), function(i, obj) {
							_this.checkList.splice(_this.checkList.indexOf(parseInt(obj.value)), 1);
						});
					} else {
						//添加
						$.each($("[data-id=" + name + "] input"), function(i, obj) {
							if(_this.checkList.indexOf(parseInt(obj.value)) == -1) {
								_this.checkList.push(parseInt(obj.value))
							}
						});
					}
				},
				handleNodeClick(data) {
					let _this = this;
					if(data.positionid != undefined) {
						_this.title = _this.departmentname + "  ——  " + data.positionname + '权限管理';
						$.getJSON(`http://127.0.0.1:8080/fcl/api/staff/power/${data.positionid}`, function(res) {
							_this.checkList = res;
							_this.positionid = data.positionid;
						})
					} else {
						_this.positionid = 0;
						_this.departmentname = data.positionname;
						_this.title = '公司权限管理';
						_this.checkList = [];
					}
				},
				upPower() {
					if(this.positionid != 0) {
						let _this = this;
						$.ajax({
							url: "http://127.0.0.1:8080/fcl/api/power/modifyPower",
							data:JSON.stringify({"positionid": _this.positionid,"list":_this.checkList}),
							//
							dataType: "json",
							type: "POST",
							contentType:"application/json",
							success: function(data) {
								alert("修改成功");
							}
						});
					} else {
						alert("请选择修改职位");
					}
				}
			},
			mounted() {
				let _this = this;
				//获取公司结构
				$.getJSON(`http://127.0.0.1:8080/fcl/api/department`, function(res) {
					_this.departments = res;
				})

				//获取所有权限
				$.getJSON(`http://127.0.0.1:8080/fcl/api/staff/power/powerGet`, function(res) {
					_this.powerData = res;
				})
			}
		}).$mount("#powerupApp")
	</script>

</html>