<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<div id="fclUpApp">
			<el-page-header @back="goBack" content="返工页面">
			</el-page-header>
			<el-form :model="servicing"  style="clear: both;text-align: left;margin-left: 200px;" class="demo-ruleForm">
				<el-form-item>
					<el-select filterable v-if="value1" v-model="sermain.rescueid" placeholder="请选择救援车牌号"  disabled>
						<el-option v-for="item in FclSerAllVo.rlist" :label="item.rescuenumber" :data-price="item.price" :value="item.rescueid">
						</el-option>
					</el-select>
					<el-select filterable v-model="sermain.gid" collapse-tags style="margin-left: 10px;"  placeholder="请选择维修组" disabled>
						<el-option v-for="item in FclSerAllVo.alist" :label="item.gname" :data-price="item.price" :value="item.gid">
						</el-option>
					</el-select>
					<el-select filterable v-model="name" collapse-tags style="margin-left: 10px;" placeholder="请选择客户车牌号" disabled>
						<el-option v-for="item in FclSerAllVo.clist" :label="item.carnumber" :value="item.consumerid">
						</el-option>
					</el-select>
					<el-input style="width:200px;" v-model="sermain.consumermark" placeholder="请输入维修备注" readonly="readonly"></el-input>
				</el-form-item>
			</el-form>
			<el-table :data="tableData" style="width: 100%">
				<el-table-column label="编号">
					<template slot-scope="temp">
						{{temp.$index+1}}
					</template>
				</el-table-column>
				<el-table-column prop="infoname" label="维修项目名">
				</el-table-column>
				<el-table-column prop="price" label="维修价格">
				</el-table-column>
				<el-table-column align="center">
					<template slot="header" slot-scope="scope">
						<el-button type="success" size="mini" @click="gotoPages">添加维修项</el-button>
					</template>
					<template slot-scope="temp">
						<el-button v-if="!temp.row.bool" size="mini" type="danger" @click="deleteRow(temp.row.infoid)">删除</el-button>
					</template>
				</el-table-column>
			</el-table>
			<div class="text-right" style="margin: 20px  100px   10px;">
				<el-button size="mini" type="danger" @click="addSermain">开单</el-button>
			</div>

		</div>
		<script>
			var app = new Vue({
				data: {
					value1: true,
					servicing: {

					},
					FclSerAllVo: {},
					price: '20',
					gprice: '20',
					name: '',
					tableData: [],
					sermain: {
						rescueid: '1',
						consumerid: '',
						gid: '',
						consumermark: ''
					},
					name:'',
					rescueid: 0
				},
				methods: {
					deleteRow(infoid) {
						var index1;
						this.tableData.forEach((temp, index) => {
							if(temp.infoid == infoid) {
								index1 = index;
							}
						});
						this.tableData.splice(index1, 1)
					},
					gotoPages() {
						window.sessionStorage.setItem("multipleSelectionS", JSON.stringify(this.tableData));
						var numbers=2;
						if(!this.value1){
							numbers=1;
						}
						window.sessionStorage.setItem("numbers", numbers);
						showWindowDialog('fcl/addservicinginfo.html', '添加');
					},
					goBack() {
						$("#cnt").load("fcl/servicing_meetcar.html");
					},
					addSermain() {

						let _this = this;

						if(!this.value1) {
							_this.rescueid = 0;
						} else {
							_this.rescueid = _this.sermain.rescueid;
						}
						alert(_this.rescueid);
						var vo = {
							"ser": {
								rescueid: _this.rescueid,
								consumerid: _this.sermain.consumerid,
								gid: _this.sermain.gid,
								consumermark: _this.sermain.consumermark,
								smid:_this.sermain.smid
							},
							"list": _this.tableData
						};
						//console.log(vo)
						$.ajax({
							url: `http://127.0.0.1:8080/fcl/api/sermain/UpSerMain`,
							dataType: "json",
							type: "POST",
							data: JSON.stringify(vo),
							contentType: "application/json",
							success: function(data) {
								alert("修改成功");
								_this.goBack();
							}
						})
					}
				},
				mounted() {
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/fcl/api/sermain/queryRescuecar`, function(res) {
						_this.FclSerAllVo = res;
						//初始化
						var vo = JSON.parse(window.sessionStorage.getItem("serUp"));
						console.log(vo);
						_this.sermain = vo.ser;
						if(_this.sermain.rescueid == 0) {
							_this.sermain.rescueid = "";
							_this.value1 = false;
						}
						_this.name=vo.name;
						vo.list.forEach(temp => {
							_this.tableData.push({
								"infoid": temp.infoid,
								"infoname":temp.infoname,
								"price": temp.price,
								"infomark": temp.infomark,
								"bool": true
							});
						})
					});

				}

			}).$mount("#fclUpApp");
		</script>
	</body>

</html>